@media only screen and (max-width:1366px) {
    
    h2{
        font-size: clamp(60px, 34vw, 60px);
    }
    h3{
        font-size: clamp(14px, 1.5vw, 18px);
        line-height: clamp(18px, 2vw, 28px);
    }
    p{
        font-size: clamp(10px, 1.3vw, 14px);
        line-height: clamp(18px, 3vw, 26px);
    }
    .button{
        padding: 12px 20px;
    }
    .main-wrapper .header-section{
        min-height: 73vh;
        background-position: left center;
    }
    .navbar-brand{
        width: auto;
        max-width: 230px;
        margin-right: 0;
        font-size: clamp(14px,2vw,20px);
        display: flex;
        align-items: center;
    }
    .navbar-brand a{
        font-size: clamp(14px,2vw,20px);
    }
    .navbar-brand a img{
        width: 20% ;
    }
    .nav-menu .navbar-nav .nav-link{
        font-size: clamp(10px,2vw,14px);
        line-height: 16px;
    }
    .nav-menu .button.btn-signup{
        width: auto;
        font-size: clamp(10px,2vw,14px);
    }
    header .header-text{
        margin-top: 8%;
    }
    header .header-text:before{
        width: 100px;
    }
    .header-text .button.header-btn{
        font-size: clamp(12px,2vw,16px);
        padding: 13px 50px;
    }
}
@media only screen and (max-width:992px){
    .header-section nav{
        background-color: #5bccf6;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    .nav-menu {
       text-align: center;
       padding: 2em 1em;
    }
    .nav-menu .navbar-nav{
        align-items: center;
    }
    .nav-menu .navbar-nav .nav-item{
        margin:0.6em 0;
    }
    .nav-menu .navbar-nav .nav-link{
        font-weight: 700;
    }
    .nav-menu .navbar-nav .nav-item.active{
        border-bottom: none
    }
    .nav-menu .navbar-nav .nav-item:hover{
        border-bottom: none
    }
    .nav-menu .btn-signup{
        padding:  0.6em 3em;
        padding: 0;
        text-align: center;
        display: inline;
        justify-content: center;
        margin: 0 auto;
    }
    .header-section header{
        display: flex;
        align-items: flex-start;
        margin-top: 0;
        padding: 5% 16px;
    }
    header .header-text{
        margin-top: 15%;
    }
    .header-text h3{
        margin-bottom: 30px;
    }
    .header-text .button.header-btn{
        padding: 10px 40px;
    }
    
}

@media only screen and (max-width:768px){
    .main-wrapper .header-section{
        min-height: 60vh;
        background-position: right center;
    }
}

@media only screen and (max-width:640px){
    .main-wrapper .header-section{
        min-height: 80vh;
        background-position: left bottom;
    }
    .navbar-brand a{
        font-size:18px;
    }
    .navbar-brand a img{
        width: 18% ;
    }
    .nav-menu .navbar-nav .nav-link{
        font-size: 1em;
    }
    header .header-text{
        margin-top: 25%;
    }
    .header-text h3{
        width: 70%;
    }
}
@media only screen and (max-width:452px){
    .button{
        padding: 8px 30px;
    }
    .navbar-brand{
        font-size:16px;
        margin-right: 0;
    }
    .navbar-brand img{
        width: 20%;
        margin-right: 5px;
    }
    .main-wrapper .hero-section header{
        padding: 0 0.5em;
    }
    header .header-text {
        margin-top: 40%;
    }
    .header-text h2{
       font-size: 48px;
    }
    .header-text h3{
        width: 80%;
       font-size: 15px;
       line-height: 20px;
    }
}

/* ==============================
------Face Section STYLES--------
============================== */

@media only screen and (max-width:1366px){
    .button{
        padding: 13px 20px;
    }
    .section-title h2{
        font-size: clamp(18px, 1.8vw, 28px);
    }
    .face-tryon-section .section-con{
        padding: 30px 130px;
    }
    .source-face .source-face-img{
        height: 210px;
    }
    .source-face-items p{
        font-size: 18px;
    }
    .source-face-items .sf-item .item-img{
        height: 55px;
    }
    .dest-face .dest-face-img{
        height: 210px;
    }
    .dest-face-items p{
        font-size: 18px;
    }
    .dest-face-items .df-item .item-img{
        height: 55px;
    }
    .custom-file-btn{
        font-size: 18px;
    }
    .face-sec-result .face-sec-res-item{
        height: 340px;
    }
    .face-sec-res-item .item-img{
        width: 100%;
        height: 230px;
    }
    .face-sec-res-item .merge-btn-con a.button{
        font-size: clamp(10px,1.3vw,16px);
        padding: 10px 0 ;
    }
    .face-sec-btn-con .face-sec-btn{
        font-size:  clamp(10px,1.3vw,16px);
    }
}
@media only screen and (max-width:992px){
    .face-tryon-section .section-con{
        padding: 30px 100px;
    }
    .section-title p{
        width: 100%;
    }
    .section-content .face-sec-items{
        padding: 15px 0;
    }
    .source-face .source-face-img{
        height: 250px;
    }
    .source-face-items p{
        font-size: 16px;
    }
    .dest-face .dest-face-img{
        height: 250px;
    }
    .dest-face-items p{
        font-size: 16px;
        line-height: 20px;
    }
    .source-face-items .sf-item{
        margin: 5px 0 ;
    }
    .dest-face-items .df-item{
        margin: 5px 0;
    }
    .face-sec-result .face-sec-res-item{
        height: 430px;
    }
    .face-sec-res-item .item-img{
        height: 300px;
    }
}
@media only screen and (max-width: 768px){
    .face-tryon-section{
        padding: 0 0 10px;
    }
    .face-tryon-section .section-con{
        padding: 0px 10px;
    }
    .source-face .source-face-img{
        height: 200px;
    }
    .dest-face .dest-face-img{
        height: 200px;
    }
    .face-sec-result .face-sec-res-item{
        height: 330px;
    }
    .face-sec-res-item .item-img{
        height: 230px;
    }
    .source-face-items .sf-item .item-img{
        height: 75px;
    }
    .dest-face-items .df-item .item-img{
        height: 75px;
    }
}
@media only screen and (max-width: 640px){
    .source-face .source-face-img{
        height: 400px;
    }
    .dest-face .dest-face-img{
        height: 400px;
    }
  
    .face-sec-res-item .item-img{
        height: 400px;
    }
}
@media only screen and (max-width: 420px){
    .source-face .source-face-img{
        height: 300px;
    }
    .dest-face .dest-face-img{
        height: 300px;
    }
    .face-sec-result .face-sec-res-item{
        height: 450px;
    }
    .face-sec-res-item .item-img{
        height: 300px;
    }
    .face-sec-btn-con{
        padding: 0;
    }
}

/* ==============================
------Dress Section STYLES--------
============================== */
@media only screen and (max-width: 1366px){
    .dress-tryon-section .section-con{
        padding: 30px 100px;
    }
    .full-image-item .full-item-img{
        height: 200px;
    }
    .dress-image-item .dress-item-img{
        height: 130px;
    }
    .dress-sec-res-item .item-img{
        height: 300px;
    }
    .dress-sec-res-item .merge-btn-con a.button{
        font-size:  clamp(13px,1.3vw,16px);
    }
    .dress-sec-btn-con .dress-sec-btn{
        font-size:  clamp(13px,1.3vw,16px);
    }
}
@media only screen and (max-width: 992px){
    .full-image-item .full-item-img{
        height: 200px;
    }
    .dress-image-item .dress-item-img{
        height: 150px;
    }
    .dress-sec-res-item .item-img{
        height: 300px;
    }
    .dress-sec-items .custom-file-btn{
        font-size: 14px;
    }
    .dress-sec-items .custom-file-btn i{
        font-size: 30px;
    }
    .section-content .dress-tryon-res-item{
        padding: 15px 0;
    }
    .dress-sec-res-item .merge-btn-con a.button{
        font-size:  clamp(14px,3vw,18px);
        padding: 13px 0;
    }
    .dress-sec-btn-con .face-sec-btn{
        font-size:  clamp(10px,3vw,18px);
    }
}
@media only screen and (max-width:768px){
    .dress-tryon-section .section-con{
        padding: 30px 10px;
    }
    .full-image-item .full-item-img{
        height: 180px;
    }
    .dress-image-item .dress-item-img{
        height: 130px;
    }
    .dress-sec-res-item .item-img{
        height: 250px;
    }
}
@media only screen and (max-width:640px){
    .section-content .dress-tryon-res-item{
        padding: 15px;
    }
}

/* ==============================
------Signup Section STYLES--------
============================== */

@media only screen and (max-width:768px){
    .signup-form-con .signup-form input{
        width: 100%;
        height: 35px;
    }

}