@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}
.main-wrapper{
    width: 100%;
    height: auto;
    background: url('../images/header-bg.png');
    background-size: contain;
    background-position-y: top;
    background-repeat: no-repeat;
}
.navbar{
    background: #5538a4;
}
.collapse{
    justify-content: flex-end !important;
}
.navbar-brand{
    color: #ffffff !important;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: clamp(22px,3vw,42px);
    text-align: left;
    margin-left: clamp(10px,8vw,32px);
    outline: none;
}
.navbar-nav .nav-item a{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: clamp(10px,1.2vw,14px);
    text-align: left;
    color: #fff !important;
    text-transform: uppercase;
    outline: none;
}
.navbar-nav .nav-item a.signin{
    font-weight: 700;
    color: #FF6262 !important;
}
.navbar-nav .nav-item{
    margin: clamp(10px,2vw,16px);
    margin-top: clamp(8px,2vw,12px);
    margin-bottom: clamp(8px,2vw,12px);
}
.jumbotron{
    height: 75vh;
    background: transparent ;
    display: grid;
    place-items: center;
    margin-bottom: 0;
    outline: none;
    border: none;
}
.jumbotron .container{
    place-items: center;
    align-self: center;
    margin: 0;
    padding: 0;
}
.header-text{
    padding: 0;
}
.header-text h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: clamp(30px,2.8vw,42px);
    text-align: left;
    color: #fff;
}
.header-text h2 span{
    color: #FF6262;
}
.header-text p{
    width: 90%;
    font-family: Montserrat;
    font-weight: normal;
    font-size:  clamp(14px,1vw,16px);
    text-align: left;
    color: #fff;
}
.header-text .btn-signup{
    margin-top: clamp(22px,2.8vw,42px);
}
.header-text .btn-signup a{
    background: #ffffff;
    border-radius: 30px;
    padding: clamp(8px,2vw,14px);
    padding-left: clamp(12px,3vw,40px);
    padding-right: clamp(12px,3vw,40px);
    font-family: Montserrat;
    font-weight: 600;
    font-size: clamp(12px,1.5vw,18px);
    text-align: left;
    color: #6321c1;
    text-decoration: none;
}
.header-text .btn-signup a:hover{
    color: #FF6262;
}
.container .header-img{
    display: grid;
    place-items: center;
}
.container .header-img img{
    width: 100%;
}
/* =========================================
--------Learn and Practice section------
========================================= */
.L-P-area{
    width: 100%;
    height: 100vh;
    border: none;
    display: grid;
    place-items: center;
}
.container{
    place-items: center;
    align-self: center;
    margin: 0;
    padding: 0;
}
.L-P-text h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: clamp(22px,3vw,42px);
    text-align: left;
    color: #FF6262;
}
.L-P-text h2 span{
    color: #2B2A41;
}
.L-P-text p{
    width: 85%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: clamp(12px,2vw,16px);
    text-align: left;
    color: #2B2A41;
}
.container .L-P-img{
    display: grid;
    place-items: center;
}
.container .L-P-img img{
    width: 90%;
}

/* =========================================
--------Code Verification section styles----
========================================= */
.mid-wrapper{
    width: 100%;
    height: 200vh;
    padding: 0;
    background: url('../images/verification-bg.png');
    background-size: 80%;
    background-position-x: right;
    background-repeat: no-repeat;
}
.code-verification-area{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background:transparent

}
.code-verification-area .container{
    place-items: center;
    align-self: center;
    margin: 0;
    padding: 0; 
}
.code-verification-text{
    padding-right: 0;
}
.code-verification-text h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: clamp(20px,3vw,32px);
    text-align: left;
    color: #2B2A41;
}
.code-verification-text h2 span{
    color:  #FF6262;
}
.code-verification-text .verify-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}
.code-verification-text .verify-icon img{
    width: 20%;
}
.code-verification-text p{
    width: 85%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #2B2A41;
}
.container .code-verification-img{
    display: grid;
    place-items: center;
}
.container .code-verification-img img{
    width: 80%;
}

/* =================================================
--------Discuss with community section styles-------
================================================== */
.discuss-area{
    width: 100%;
    height: 80vh;
    display: grid;
    place-items: center;
}
.discuss-area .container{
    place-items: center;
    align-self: center;
    margin: 0;
    padding: 0; 
}
.discuss-text{
    padding-right: 0;
}
.discuss-text h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: clamp(18px,3vw,32px);
    text-align: left;
    color: #2B2A41;
}
.discuss-text h2 span{
    color: #FF6262;
}
.discuss-text .community-icon{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 20px;
}
.discuss-text .community-icon i{
    font-size:  clamp(18px,3vw,30px);
    padding: clamp(12px,3vw,20px);
    color:#ffffff;
    background: #5538a4;
    border-radius: 50%;
}

.discuss-text p{
    width: 85%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #2B2A41;
}
.container .discuss-img{
    display: flex;
    justify-content: flex-end;
}
.container .discuss-img img{
    width: 60%;
}

/* ==================================
--------Footer section styles--------
===================================== */
.footer-area{
    width: 100%;
    display: grid;
    place-items: center;
    background: url('../images/footer-bg.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.footer-area .footer-con{
    place-items: center;
    align-self: center;
    margin: 0;
    padding: 0; 
}
.footer-form-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-form-con h2{
    font-family: Montserrat;
    font-weight: bold;
    font-size: clamp(18px,3vw,32px);
    text-align: left;
    color: #2B2A41;
}
.footer-form-con h2 span{
    color: #FF6262;
}
.footer-form-con .mail-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}
.footer-form-con .mail-icon i{
    font-size:  clamp(18px,3vw,30px);
    padding: clamp(12px,3vw,20px);
    color:#ffffff;
    background: #5538a4;
    border-radius: 50%;
}
.footer-form-con p{
    font-family: Montserrat;
    font-weight: 500;
    font-size:  clamp(10px,1.8vw,18px);
    text-align: center;
    color: #2B2A41;
}
.container .footer-img{
    display: flex;
    justify-content: flex-end;
}
.footer-con .footer-img img{
    width: 70%;
}
.footer-form-con .footer-form{
    width: 80%;
    height: clamp(28px,5vw,50px);
    border: 1px solid #2B2A41;
    border-radius: 30px;
    padding: 2px 2px 2px 10px;
    position:relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-form-con .footer-form .email{
    position: relative;
    width: 68%;
    height: 100%;
    background:transparent;
    outline:none;
    border: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: clamp(12px,2vw,18px);
    text-align: left;
    color: #707070;
    opacity: 0.65;
}
.footer-form-con .footer-form .btn-submit{
    position: relative;
    width: 29%;
    height: 100%;
    border:none;
    font-size: clamp(12px,1.5vw,18px);
    border-radius: 30px;
    background:#FF6262;
    color:#fff
}
.footer-area .copyright{
    height: clamp(30px,10vh,80px);
    display: flex;
    align-items: center;
}
.footer-area .copyright h4{
    font-family: Montserrat;
    font-weight: 500;
    font-size: clamp(14px,2vw,16px);
    text-align: left;
    color: #fff;
}