/* ========================
------Header styles--------
======================== */
@media only screen and (min-width:1921px){
    .main-wrapper .hero-section{
        position: relative;
    }
    .hero-section header{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media only screen and (max-width:1666px) {
    .arrow-icon{
        width: 22px;
        height: auto;
    }
    .arrow-icon img{
        width: 100%;
    }
    .navbar-brand{
        font-size: clamp(14px,2vw,20px);
    }
    .navbar-brand img{
        width: 28% ;
        margin-right: 0.6em;
    }
    .nav-menu .navbar-nav .nav-link{
        font-size: clamp(10px,2vw,14px);
    }
    .nav-menu .button.btn-login{
        width: auto;
        font-size: 15px;
        padding: 2px 6px;
    }
    .nav-menu .button.btn-login .arrow-icon{
        width: 18px;
    }
    .header-content .header-text{
        margin-top: 8%;
    }
    .header-text  h2{
        font-size: clamp(24px,5vw,56px);
    }
    .header-text h2 strong{
        font-size: clamp(24px,5vw,56px);
    }
    .header-text p{
        font-size: clamp(12px,5vw,15px);
    line-height:  clamp(14px,2vw,18px) ;
    }
    .header-content .btn-group{
        margin-top: 2%;
    }
    .header-content .btn-group .header-btn{
        font-size: clamp(8px,2vw,11px);
    }
}
@media only screen and (min-width:768px ) and (min-height:600px){
    .carousel-control-prev-icon{
        width: 40px;
        height: 40px;
        background: url(../images/arrow-left-white.png);
        background-size: contain;
        background-repeat: no-repeat;
    
    }
    .carousel-control-next-icon{
        width: 40px;
        height: 40px;
        background: url(../images/arrow-right-white.png);
        background-size: contain;
        background-repeat: no-repeat;
    
    }
}
@media only screen and (max-width: 812px ) and (max-height:500px){
    .carousel-control-prev-icon{
        width: 40px;
        height: 40px;
        background: url(../images/arrow-left-white.png);
        background-size: contain;
        background-repeat: no-repeat;
    
    }
    .carousel-control-next-icon{
        width: 40px;
        height: 40px;
        background: url(../images/arrow-right-white.png);
        background-size: contain;
        background-repeat: no-repeat;
    
    }
    .nav-menu .button.btn-login{
        width: auto;
        position: relative;
        width: 150px;
        font-size: 15px;
        padding: 7px 12px;
        display: inline-block;
    }
}
@media only screen and (max-width:1024px ) and (min-height:1024px){
    .main-wrapper .hero-section{
        min-height: 100vh;
        background-image: url(../images/banner-tab.png);
        background-size: cover;
        background-position: right bottom;
        background-repeat: no-repeat;
    }
    .header-text  h2 strong{
        font-size: 80px;
    }
    .header-text h2{
        font-size: 80px;
    }
    .header-text p{
        font-size: 22px;
        line-height: 30px ;
    }
    .header-content .btn-group .header-btn{
        width: 200px;
        font-size: 15px;
        padding: 0.8em 1.3em;
    }
}

@media only screen and (max-width:992px){
    .hero-section nav{
        background-color: #9838f4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    .nav-menu {
       text-align: center;
       padding: 2em 1em;
    }
    .nav-menu .navbar-nav{
        align-items: center;
    }
    .nav-menu .navbar-nav .nav-link{
        font-weight: 700;
    }
    .nav-menu .btn-login{
        padding:  0.6em 3em;
        text-align: center;
        display: inline;
        justify-content: center;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
    .hero-section header{
        display: flex;
        align-items: flex-start;
        margin-top: 0;
        padding: 5% 16px;
    }
    .hero-section header .container{
        margin-top: 4%;
    }
    .header-content .btn-group .header-btn{
        font-size: 15px;
        line-height: 20px;
        padding: 12px 18px;
    }
    
}

@media only screen and (max-width:768px ){
    .nav-menu .button.btn-login{
        max-width: 150px;
        justify-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media only screen and (max-width:768px ) and (min-height:1024px){
    .navbar-brand{
        font-size: clamp(1em,2vw,1.8em);
    }
    
}

@media only screen and (max-width: 912px ) and (max-height:500px){
    .nav-menu .button.btn-login{
        justify-content: center;
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-section header{
        display: flex;
        align-items: flex-start;
        margin-top: 3%;
        padding: 5% 16px;
    }
    .hero-section header .container{
        margin-top: 4%;
    }
    .nav-menu .navbar-nav .nav-link{
        font-size: 1em;
    }
    .header-content .header-text{
        margin-top: 2%;
    }
    .header-text  h2 strong{
        font-size: clamp(18px,10vw,28px);
    }
    .header-text h2{
        font-size: clamp(18px,10vw,28px);
    }
    .header-text p{
        font-size: clamp(8px,5vw,12px);
        line-height:  clamp(12px,4vw,18px) ;
        font-weight: 600;
        margin: 2% 0;
    }
    .header-content .btn-group .header-btn{
        padding: 5px 10px;
        font-size: 15px;
        line-height: 14px;
    }
    .header-content .btn-group .header-btn .arrow-icon{
        width: 18px;
    }
}

@media only screen and (max-width:640px){
    .arrow-icon{
        width: 18px;
        height: auto;
    }
    .navbar-brand{
        font-size:18px;
    }
    .navbar-brand img{
        width: 24% ;
        margin-right: 8px;
    }
    .nav-menu .navbar-nav .nav-link{
        font-size: 1em;
    }
    .main-wrapper .hero-section{
        background-image: url(../images/banner-mobile.png);
    }
    .hero-section header{
        margin-top: 10%;
        padding: 5% 16px;
    }
    .hero-section header .container{
        margin-top: 10%;
    }
    .header-text  h2 strong{
        font-size: clamp(1.5em,10vw,2.3em);
    }
    .header-text h2{
        font-size: clamp(1.5em,10vw,2.5em);
    }
    .header-text p{
        font-size: 16px;
        line-height:  22px ;
    }
    .header-content .btn-group .header-btn{
        font-size: 14px;
        line-height: 30px;
        padding: 11px 22px;
    }
}
@media only screen and (max-width:452px){
    .navbar-brand{
        font-size:16px;
        margin-right: 0;
    }
    .navbar-brand img{
        width: 20%;
        margin-right: 5px;
    }
    .main-wrapper .hero-section header{
        padding: 0 0.5em;
    }
    .header-text  h2 strong{
        font-size: clamp(16px,10vw,36px);
    }
    .header-text h2{
        font-size: clamp(20px,10vw,36px);
    }
    .header-text p{
        font-size: 15px;
        line-height:  20px ;
    }
    .header-content .btn-group .header-btn{
        font-size: 12px;
        line-height: 28px;
        padding: 6px 18px;
    }
}
/* ========================
------Features styles-----
======================== */
@media only screen and (max-width:1366px) {
    .feature-items .feature-item.f-item-2 h3{
        margin-top: 17%;
    }
    .feature-items .feature-item.f-item-2 p{
        width: 100%;
    }
}
@media only screen and (max-width:1024px ) {
 
    .feature-items .feature-item{
        padding: 2em 1em ;
    }
}
@media only screen and (max-width:767px ) and (min-height:1024px){
    .feature-items .feature-item{
        padding:0 1em;
    }
    .feature-items .feature-item.f-item-2{
        padding: 2em 1em ;
    }
}

@media only screen and (max-width:767px){
    .feature-items .feature-item{
        padding: 3.5em 1em ;
    }
    .feature-items .feature-item h3{
        font-size: 24px;
    }
    .feature-items .feature-item.f-item-2 h3{
        margin-top: 8%;
    }
    .feature-items .feature-item.f-item-2 p{
        margin-top: 0;
    }
}
@media only screen and (max-width:640px){
    .features-section{
        padding: 20% 4% 8% 4%;
    }
    .features-content h2{
        color: #352660;
        line-height: 28px;
        font-weight: normal;
    }
    
    .feature-items .feature-item.f-item-2 p{
        font-size: 13px;
        line-height: 20px;
    }
}
/* ========================
------Solutions styles-----
======================== */
@media only screen and (max-width:1366px) {
    .solutions-title a{
        font-size: clamp(0.9em,2vw,1.2em);
    }

}
@media only screen and (max-width: 991px ){
     .solution-item-content .s-item-text p{
        width: 100%;
    }
    .solution-item-content .s-item-text a{
        font-size: 15px;
        line-height: 20px;
        padding: 12px 18px;
    }
    
}

@media only screen and (max-width: 767px){
    .solution-item-content{
        margin: 5%  0;
        padding: 2% 0;
        display: grid ;
        grid-template-areas:'s-item-text' 's-item-img'
    }
    .solution-item-content .s-item-text h3{
        margin-bottom: 2%;
     }
     .solution-item-content .s-item-text h3 span img{
         width: 70%;
    }
     .solution-item-content.s-item-2 .s-item-text h3 span img{
         width: 50%;
    }
    .solution-item-content .s-item-text{
        grid-area: s-item-text;
        margin-bottom: 3%;
    }
    .solution-item-content .s-item-img{
        grid-area: s-item-img;
    }
    .solution-item-content .s-item-text p{
        width: 90%;
    }
    .solution-item-content .s-item-img img{
        width: 80%;
        padding: 5% 0;
    }
    .solution-item-content.s-item-2 .s-item-img img{
        width: 70%;
        padding: 0;
    }
    .solution-item-content .s-item-text br{
        display: none;
    }
}

@media only screen and (max-width:768px ) and (min-height:1020px){
    .solution-item-content{
        margin: 5%  0;
        padding: 2% 0;
        display: flex;
    }
}
@media only screen and (max-width: 640px){
    .solutions-title h2{ 
        font-size: 32px;
        line-height:  34px;
    }
    .solutions-title a .arrow-icon{
        width: 45px;
        height: 42px;
        margin-top: 10px;
    }
     .solution-item-content .s-item-text h3 span img{
         width: 70%;
    }
     .solution-item-content.s-item-2 .s-item-text h3 span img{
         width: 50%;
    }
    .solution-item-content .s-item-text{
        grid-area: s-item-text;
        margin-bottom: 3%;
    }
    .solution-item-content .s-item-img{
        grid-area: s-item-img;
    }
    .solution-item-content .s-item-text h2{
        font-size: 24px;
        line-height:  30px;
        margin: 0.5em 0 0.3em;
    }
    
    .solution-item-content .s-item-text p{
        font-size: 16px;
        line-height:  30px;
        width: 95%;
        margin-bottom: 2em;
    }
    .solution-item-content .s-item-img{
        padding: 5% 0;
    }
    .solution-item-content .s-item-img img{
        width: 85%;
        padding: 5% 0;
    }
    .solution-item-content.s-item-2 .s-item-img img{
        width: 70%;
        padding: 0;
    }
}
@media only screen and (max-width: 812px ) and (max-height:500px){
    .solutions-title h2{ 
        font-size: clamp(14px,5vw,20px);
        line-height:  clamp(16px,6vw,22px);
    }
    .solutions-title a .arrow-icon{
        width: 45px;
        height: 42px;
        margin-top: 20px;
    }

    .solution-item-content .s-item-text h2{
        font-size: clamp(14px,5vw,24px);
        line-height:  clamp(16px,6vw,28px);
        margin: 0.5em 0 0.3em;
    }
    .solution-item-content .s-item-text p{
        font-size: clamp(7px,5vw,13px);
        line-height:  clamp(10px,6vw,18px);
        width: 95%;
        margin-bottom: 2em;
    }
    .solution-item-content .s-item-text a{
        min-width: 150px;
        font-size: clamp(8px,5vw,10px);
        line-height:  clamp(12px,6vw,18px);
    }
}
/* ===================================
------Featured Influencers styles-----
================================== */
@media only screen and (max-width:1366px) {
    .f-influencers-text h2{
        font-size: 100px;
        line-height: 100px;       
    }
    .f-influencer-items{
        width: 100%;
        height: 34vw;
    }
    .f-inf-item{
        width: 100%;
        height: auto !important; 
    }
    .f-inf-item .item-content{
        height: auto;
    }
    .item-footer .profile p{ 
        font-size: clamp(0.6em,1.2vw,0.9em);
     }
     .item-footer .profile .profile-img{
        width: 30px;
        height: 30px;
    }
    .item-footer .location i{ 
        font-size: clamp(0.6em,1.3vw,0.8em);
     }
    .item-footer .location p{ 
        font-size: clamp(0.6em,1.3vw,0.8em);
     }
}
@media only screen and (max-width: 1024px ) and (max-height:1360px){

    .f-inf-item{
        width: 33%;
    }
    .f-inf-item .item-content{
        height: auto;
    }
    .f-inf-item .item-text {
        margin-bottom: 5%;
    }
}
@media only screen and (max-width: 1024px ) and (min-height:1360px){
    .f-inf-item{
        width: 30%;
    }
    .f-inf-item .item-content{
        height: auto;
        padding: 8% 3%;
    }
    .f-inf-item .item-text {
        margin-bottom: 5%;
    }
}

@media only screen and (max-width:  800px){
    .f-inf-item .item-text h3{
        font-size: 16px;
        line-height: 24px;
    }
}
@media only screen and (max-width: 768px){
    .f-inf-item{
        width: 33%;
    }
    .f-inf-item .item-content{
        height: auto;
    }
}
@media only screen and (max-width: 768px) and (min-height: 1024px){
    .f-influencer-items{
        height: 300px;
    }
    .f-inf-item .item-content{
        height: auto;
    }
    .item-footer .profile { 
        margin-top: 0;
    }
}
@media only screen and (max-width: 812px ) and (max-height:500px){
    .f-influencer-items{
        height: 43vw;
        max-height: 100vh;
    }
    .f-inf-item .item-content{
        height: auto;
        padding-top: 10%;
    }
    .f-inf-item .item-text {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 640px){

    .f-influencers-con{
        padding-top:0;
        position: relative;
    }
    .f-influencers-text{
       position: absolute;
       top: 12%;
       left: 50%;
       transform: translateX(-50%);
       margin-bottom: 15px;
    }
    .f-influencers-text h2{
        font-size: clamp(5em,15vw,8em);
        line-height: 0.7em;
        color: #ffffff;
    }
    .f-items-btns{
        display: block;
        z-index: 9;
    }
    .f-items-btns button{
        display: block;
        height: 10%;
        top: 90%;
    }
    .f-influencer-items-con{
        width: 270%;
        height: 360px;
        display: flex;
        position: relative;
    }
    .f-influencer-items{
        width: 300%;
        height: 360px;
        display: flex;
        bottom: -50%;
        position: relative;
    }
    .f-inf-item{
        bottom: 0;
        width: 70%;
        margin: 0 5%;
    }
    .f-inf-item .item-content{
        height: auto;
        padding-top: 3%;
    }
    .f-inf-item .item-text {
        margin-bottom:0;
    }
    .f-inf-item .item-text h3{
        font-size: 18px;
    }
    .f-inf-item .item-text p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .item-footer .profile p{ 
        font-size: clamp(0.6em,3vw,1em);
     }
     .item-footer .profile .profile-img{
         width: 35px;
         height: 35px;
         margin-right: 8px;
     }
     .item-footer .location i{ 
         font-size: clamp(0.6em,4vw,1em);
      }
     .item-footer .location p{ 
         font-size: clamp(0.6em,3vw,1em);
      }
      /* ========================================= */


.f-influencers-con{
        position: relative;
        height: 100vw;
        min-height: 350px;
        padding: 0;
    }
    .f-influencer-items-wrapper{
        position: relative;
        height: 80vw;
        min-height: 350px;
        padding: 0;
    }
    .f-influencer-items-con{
        width: 65%;
        height:80vw;
        min-height: 350px;
        display: flex;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }
    .f-influencer-items{
        width: 300%;
        height: 100%;
        display: flex;
        bottom: 0;
        position: absolute;
        transition: all 0.3s ease;
    }
    .f-inf-item{
        width: 100%;
        bottom: 0;
        width: 70%;
        margin: 0 3%;
    }
    .f-inf-item .item-img{
        height: 50%;
    }


      /* ============================================= */
}
@media only screen and (max-width:500px){
    .f-influencer-items-wrapper{
        position: relative;
        height: 95vw;
    }
    .f-influencer-items-con{
        width: 84%;
        height:95vw;
    }

}
@media only screen and (max-width:456px){
    .f-influencers-con{
        position: relative;
        height: 80vh;
    }
    .f-influencer-items-wrapper{
        position: relative;
        height: 70vh;
    }
    .f-influencer-items-con{
        width: 84%;
        height: 70vh;
    }

}
@media only screen and (max-width:392px){
    .f-influencers-con{
        height: 80vh;
    }
    .f-influencer-items-wrapper{
        position: relative;
        height: 75vh;
    }
    .f-influencer-items-con{
        width: 84%;
        height: 75vh;
    }

}
/* ==============================
------Featured Brands styles-----
============================= */
@media only screen and (max-width: 1024px ){
    .f-brands-con .f-brand img{
        width: 80%;
    }
}
@media only screen and (max-width: 640px ){
    .f-brands-title h2{
        font-size: clamp(14px, 5vw, 22px);
        line-height: clamp(18px, 5vw, 26px);
    }
    .f-brands-title P{
        font-size: clamp(8px, 5vw, 13px);
        line-height: clamp(10px, 5vw, 18px);
    }
}
@media only screen and (max-width: 575px ){
    .f-brand.brand-2,.f-brand.brand-6{
        border-right: none;
    }
    .f-brand.brand-5,.f-brand.brand-6{
        border-bottom: 1px solid #e8e8f1;
    }
    .f-brand.brand-5:after{
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        background: #dfe1e8;
        border: 5px solid #f1f1f7;
        border-radius: 50%;
        right: -10px;
        bottom: -10px;
        z-index: 3;
    }
    .f-brand.brand-2:after{
        display: none;
    }
}

/* ===========================
------Testimonials styles-----
========================== */
@media only screen and (max-width:1366px) {
    .t-item-text .t-item-name p{
        font-size: clamp(0.6em,1.5vw,0.8em);
    }
}
@media only screen and (max-width: 1024px ){
    .t-item-text .t-item-name-con{
        align-items: flex-start;
    }
    .t-item-text .t-item-name h3{
        margin-top: 10px;
        font-size:22px;
        line-height: 0;
    }
}
@media only screen and (max-width: 767px ){
    .testimonial-item .t-item-con{
        width: 70%;
        padding: 1em;
        padding-right: 22px;
    }
}
@media only screen and (max-width: 812px ) and (max-height:500px){
    .t-item-con .t-item-text p{
        font-size: clamp(8px, 5vw, 13px);
        line-height: clamp(10px, 5vw, 18px);
    }
    .t-item-text .t-item-name{
        width: 50%;
        text-align: left;
    }
    .t-item-text .t-item-name h3{
        font-size: 14px;
        line-height: 12px;
    }
    .t-item-text .t-item-name p{
        font-size: 10px;
        line-height: 10px;
    }
}
@media only screen and (max-width: 640px ){
    .testimonials-title P{
        text-align: center;
        width: 85%;
    }
    .testimonial-items{
        width: 85%;
    }
    
    .testimonial-item .t-item-con{
        width: 80%;
        padding: 1em 0.3em;
        left: 53%;
        transform: translateX(-50%)
    }
    .t-item-con .t-item-text{
        padding: 0.3em 0;
        margin-bottom: 0;
    }
    .t-item-text .t-item-name{
        width: 60%;
        text-align: left;
    }
    .t-item-con .t-item-text p{
        font-size: 13px;
        line-height: 18px;
    }
    .t-item-text .t-item-name{
        width: 60%;
        text-align: left;
    }
    .t-item-text .t-item-name h3{
        margin-top: 10px;
        font-size: 18px;
        line-height: 10px;
    }
    .t-item-text .t-item-name p{
        font-size: 10px;
        line-height: 10px;
    }
}
/* ===========================
------Footer styles ---------
========================== */
@media only screen and (max-width:1366px) {
    .signup-sec-con .btn-signup{
        font-size:15px;
    }
    footer .contact-details-con h3{
        font-size: clamp(10px,1.5vw,12px);
    }
    footer .social-menu li a{
        font-size: clamp(11px,1.5vw,18px);
    }
    .navbar-nav.footer-nav li a{
        font-size: clamp(11px,1.5vw,14px);
    }
    .copyrights p{
        font-size: clamp(10px,1.5vw,14px);
        margin-top: 0.5em;
    }
    
}

@media only screen and (max-width: 767px ){
    .signup-sec-con h2{
        font-size: 30px;
    }
    .signup-sec-con P{
        font-size: 18px;
    }
}
@media only screen and (max-width: 812px ) and (max-height:500px){
    footer .contact-details-con h3{
        font-size: 10px;
        line-height: 14px;
    }
    footer .social-menu{
        justify-content: center;
        padding: 0;
        margin-bottom: 0;
    }
    footer .social-menu li{
        margin: 8px;
    }
    footer .social-menu li a{
        font-size: 14px
    }
    .copyrights p{
        font-size:10px
    }
}
@media only screen and (max-width: 640px ){
    .footer-section{
        padding: 140px 0 30px;
    }
    footer .contact-details-con h3{
        font-size: 10px;
        line-height: 16px;
    }
    footer .social-menu{
        justify-content: center;
        padding: 0;
        margin-bottom: 0;
    }
    footer .social-menu li{
        margin: 1em;
    }
    footer .social-menu li a{
        font-size: 1.5em;
    }
    .navbar-nav.footer-nav{
        padding: 0 20px;
    }
    .copyrights{
        justify-content:center
    }
    .copyrights p{
        font-size: 0.8em
    }
}
@media only screen and (max-width: 412px ){
    .navbar-nav.footer-nav{
        padding: 0;
    }
}