html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin:0 ;
    font-family: 'Source Sans Pro', sans-serif;
}
.button{
    width: auto;
    min-width: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 13px 30px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
.arrow-icon{
    width: 26px;
    height: auto;
}
.arrow-icon img{
    width: 100%;
}

.main-wrapper{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
}
.main-wrapper .hero-section{
    width: 100%;
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    /* position: relative; */
}
/* ========================
------NAVBAR STYLES--------
======================== */
.hero-section nav{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 1em;
}
.navbar .container{
    padding: 1em 0;
    display: flex;
    
}
.navbar-toggler {
    outline: none;
    border:none;
  }
  .navbar-toggler-icon {
    background-image: url("../images/togger-icon.png") !important;
  }
.navbar-brand{
    color: #ffffff !important;
    font-weight: 600;
    font-size:25px;
}
.navbar-brand img{
    width: 32.5% ;
    margin-right: 0.6em;
}
.navbar-brand span{
    font-weight: 300;
}
.nav-menu .navbar-nav{
    margin-right: 1em;
}
.nav-menu .navbar-nav .nav-item{
    margin:0 0.6em;
}
.nav-menu .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: #ffffff;
}
.nav-menu .button.btn-login{
    width: auto;
    max-width: 150px;
    min-width: 100px;
    font-size: clamp(12px,1.5vw,17px);
    line-height: 30px;
    font-weight: 600;
    background: #ffffff;
    color: #9838f4;
    border-radius: 5px;
    padding: 5px 11px;
    display: flex;
}
.nav-menu .button.btn-login .arrow-icon{
    width: 25px;
}
/* ========================
------HEADER STYLES--------
======================== */
.hero-section header{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
}
header .header-content{
    width: 100%;
    height: auto;
}
.header-content .header-text{
    margin-top: 11%;
}
.header-text  h2{
    font-size: 80px;
    font-weight: 300;
    color: #ffffff;
}
.header-text h2 strong{
    font-size: 80px;
    font-weight: 800;
    color: #ffffff;
}
.header-text p{
    font-size: 19px;
    line-height:  clamp(18px,2vw,25px) ;
    color: #ffffff;
    margin-top: 0.5em;
    font-weight: bold;
    letter-spacing: 1px;
}
.header-content .btn-group{
    margin-top: 3%;
}
.header-content .btn-group .header-btn{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(9px,1.5vw,15px);
    line-height: clamp(20px,1.5vw,30px);
    margin-right: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.header-btn.btn-white{
    background: #ffffff;
    color: #9838f4;
}
.header-btn.btn-blue{
    background: #061d5d;
    color: #ffffff;
}
/* ========================
------FEATURES STYLES------
======================== */
.features-section{
    width: 100%;
    height: auto;
    padding: 5% 0 8% 0;
    box-sizing: border-box;
    background-image: url(../images/features_section_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.features-content{
    text-align: center;
    padding: 1.5em 0;
}
.features-content h2{
    color: #352660;
    font-size: 35px;
    line-height: 45px;
    font-weight: normal;
}
.features-content p{
    font-size: 17px;
    line-height: 29px;
    font-weight: 600;
    color: #989aa9;
}
.feature-items .feature-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 1em;
}
.feature-items .feature-item h3{
    color: #2e3542;
    font-size: clamp(1em,2vw,1.8em);
    font-weight: bold;
    margin-top: 3%;
}

.feature-items .feature-item.f-item-2{
    background-image: url(../images/feature-2-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 40px 0px rgba(94,14,242,0.4);
    border-radius: 6px;
}
.feature-items .feature-item.f-item-2 h3{
    margin-top: 20%;
    color: #ffffff;
}
.feature-items .feature-item.f-item-2 p{
    margin-top: 4%;
    color: #ffffff;
    font-size: clamp(10px,3vw,16px);
    line-height:  clamp(14px,3vw,29px);
    width: 80%;
}
/* ===========================
------SOLUTIONS STYLES------
=========================== */
.solutions-section{
    width: 100%;
    height: auto;
    padding: 5vh  0;
    box-sizing: border-box;
    background:url(../images/features_section_bg.png),  linear-gradient(to right,#f5f5f9, #f1f1f6 );
    background-size: cover;
    background-position: contain;
}
.solutions-section .solutions-title{
    text-align: center;
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.solutions-title h2{
    color: #352660;
    font-size: 35px;
    line-height: 45px;
    font-weight: normal;
}
.solutions-title a .arrow-icon{
    background: linear-gradient(to right, #621cea20, #9838f420);
    width: 52px;
    height: 52px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.solutions-title a .arrow-icon img{
    width:60%;
}
.solution-item-content{
    margin: 5% 0 15% 0;
    padding: 2% 0;
}
.solution-item-content .s-item-text h3{
    color: #9637f1;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.solution-item-content .s-item-text h3 span{
   width: clamp(30px,5vw,90px);
   height: clamp(30px,5vw,90px);
   background: #ffffff;
   border-radius: 50%;
   box-shadow: 8px 8px 15px rgba(0, 0,0,0.1), -8px -8px 15px rgba(0, 0,0,0.1);
   display: flex;
   padding: 10%;
   position: relative;
   margin-right: 1.3em;
}
.solution-item-content .s-item-text h3 span img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.solution-item-content .s-item-text h2{
    color: #352660;
    font-size: 27px;
    line-height: 35px;
    font-weight: bold;
    margin: 10px 0;
}
.solution-item-content .s-item-text p{
    color: #9193a5;
    font-size: 17px;
    line-height: 31px;
    width: 90%;
    margin: 10px 0 30px;
}
.solution-item-content .s-item-text a{
    background: #9637f1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}
.solution-item-content .s-item-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.solution-item-content .s-item-img img{
    width: 100%;
}
.solution-item-content.s-item-2 .s-item-img img{
    width: 90%;
    
}
/* ====================================
------FEATURED INFLUENCERS STYLES------
==================================== */
.featured-influencers-section{
    width: 100%;
    height: auto;
    padding-bottom: 13%;
    box-sizing: border-box;
    background: #f1f1f7;
}
.f-influencers-con{
    width: 100%;
    height: auto;
    padding: 10% 0 0 0;
    box-sizing: border-box;
    background-image: url(../images/f-influencers-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    overflow: visible;
    position: relative;
}
.f-influencers-text h2{
    font-size: 135px;
    line-height: auto;
    color: #ffffff;
}
.f-influencers-text h3{
    font-size: 35px;
    font-weight: normal;
    color: #ffffff;
}
.f-influencers-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 29px;
    font-weight: 600;
    color: #ffffff;
}
.f-items-btns{
    display: none;
}
.f-influencer-items{
    width: 100%;
    height: 466px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.f-inf-item{
    position: relative;
    bottom: -50%;
    width: 368px;
    height: 466px;
    margin: 0 1%;
    padding: 0;
    position: relative;
    z-index: 3; 
    border-radius: 5px;
}

.f-inf-item .item-img{
    height: 50%;
    position: relative;
    box-shadow: 8px 0 15px rgba(0, 0,0,0.1), -8px -8px 15px rgba(0, 0,0,0.1);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.f-inf-item  .item-img .overlay{
    width: 100%;
    height: 100%;
    background: #252567;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.45;
}
.f-inf-item .item-img img{
    width: 100%;
    height: 100%;
}
.f-inf-item .item-content{
    height: auto;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    background: #ffffff ;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1), -10px 0 15px rgba(0,0,0,0.1);
}
.f-inf-item .item-text {
    margin: 2% 0;
}
.f-inf-item .item-text h3{
    font-size: clamp(16px,3vw,20px);
    line-height: clamp(20px,3vw,25px);
    font-weight: 600;
    color: #352660;
    font-family: 'Montserrat', sans-serif;
}
.f-inf-item .item-text p{
    font-size:clamp(9px,3vw,13px);
    line-height: clamp(18px,3vw,23px);
    color: #9193a5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

.item-footer{ 
    display: flex;
    align-items: center;
}
.item-footer .profile { 
    display: flex;
    align-items: center;
    padding:0; 
}
.item-footer .profile p{ 
   margin: 0;
   font-size: clamp(9px,1.2vw,14px);
   color: #9193a5;
   font-weight: 600;
}
.item-footer .profile .profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}
.item-footer .profile .profile-img img{
    width: 100%;
}

.item-footer .location{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.item-footer .location i{ 
    margin: 0;
    font-size: clamp(0.6em,1.3vw,1em);
    color: #faa604;
 }
.item-footer .location p{ 
    margin: 0;
    font-size: clamp(8px,1.3vw,14px);
    color: #9193a5;
    font-weight: 600;
    margin-left: 10px;
 }
/* ===============================
------FEATURED Brands STYLES------
=============================== */
.featured-brands-section{
    width: 100%;
    height: auto;
    padding: 10%  0;
    box-sizing: border-box;
    background-color: #f1f1f7;
}
.f-brands-title{
    text-align: center;
    padding: 1.5em 0;
}
.f-brands-title h2{
    color: #352660;
    font-size: 35px;
    line-height: auto;
    font-weight: bold;
}
.f-brands-title P{
    color: #352660;
    font-size: 17px;
    line-height: 23px;
    font-weight: 600;
}
.f-brands-con{
    justify-content: center;
}
.f-brands-con .f-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e8e8f1;
    border-bottom: 1px solid #e8e8f1;
    height: 140px;
    margin: 0;
    position: relative;
}
.f-brand.brand-4,.f-brand.brand-8{
    border-right: none;
}

.f-brand.brand-5,.f-brand.brand-6, .f-brand.brand-7,.f-brand.brand-8 {
    border-bottom: none;
}
/* ===============================
------Testimonials STYLES--------
=============================== */
button.carousel-control-prev, button.carousel-control-next{
    max-width:50px;
}
.testimonials-section{
    width: 100%;
    height: auto;
    background: #592aa1;
    padding: 2% 0 5%;
}
.testimonials-con{
    width: 100%;
    height: 100%;
    background: url(../images/map-bg.png);
    background-position: bottom center;
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
.testimonials-title{
    text-align: center;
    margin-bottom: 5%;
}
.testimonials-title h2{
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
}
.testimonials-title P{
    color: #ffffff;
    font-size: 17px;
    line-height: 23px;
    font-weight: 600;
}
.testimonial-carousel-con{
    position: relative;
    display: flex;
    justify-content: center;
}
.testimonial-items{
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.testimonial-item.carousel-item{
    width: 100%;
    position: relative;
}
.testimonial-item .t-item-con{
    width: 76%;
    border-radius: 10px;
    padding: 3.5%;
    position: relative;
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%)
}
.t-item-con .t-item-img{
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    left: -10%;
    background-image: url(../images/testimonial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.t-item-con .t-item-text{
    padding: 0.3em 0;
    margin-bottom: 1em;
}
.t-item-con .t-item-text p{
    color: #2e3542;
    font-size: clamp(14px, 1.5vw,19px);
    line-height: clamp(20px,2vw,35px);
    font-weight: 600;
    font-style: italic;
}
.t-item-text .t-item-name-con{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
}
.t-item-text .t-item-name{
    width: 40%;
    text-align: left;
}
.t-item-text .t-item-name h3{
    color: #2ec6dd;
    font-size: clamp(1em,1.5vw,1.3em);
    font-weight: 700;
    line-height: clamp(0.5em,1.5vw,0.6em);
}
.t-item-text .t-item-name p{
    color: #414b74;
    font-size: clamp(0.6em,1.5vw,1em);
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
}

/* ===============================
------FOOTER STYLES--------
=============================== */
.footer-section{
    width: 100%;
    height: auto;
    padding: 10% 0 2%;
    background-image: url(../images/footer-bg.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.footer-section .signup-sec-con{
    margin-bottom: 6%;
    color: #ffffff;
    text-align: center;
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-sec-con h2{
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: normal;
}
.signup-sec-con P{
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0.7px;
    font-weight: 400;
}
.signup-sec-con .btn-signup{
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to right, #6621ea, #983df0);
    font-size: clamp(14px,2vw,21px);
    line-height: clamp(18px,2vw,30px);
    font-weight: 600;
    margin-top: 20px;
    padding: 13px 47px;
}
footer{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
}
footer .contact-details-con {
    width: 100%;
}
footer .contact-details-con h3{
    color: #cdcdd0;
    font-size: clamp(13px,1.5vw,15px);
    line-height: clamp(16px,1.5vw,21px);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

footer .social-menu{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    
}
footer .social-menu li a{
    color: #ffffff;
    font-size: clamp(1em,2vw,1.8em);
    opacity: 0.4;
}
footer .social-menu li a:hover{
    opacity: 1;
}
footer hr{
    width:100%;
    background-color: #ffffff;
}
.navbar-nav.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.navbar-nav.footer-nav li a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: clamp(13px,1.5vw,15px);
    line-height: clamp(20px,2vw,30px);
    font-weight: 700;
}

.copyrights{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.copyrights p{
    color: #ffffff;
    text-transform: uppercase;
    font-size: clamp(13px,1.5vw,15px);
    line-height: clamp(20px,2vw,30px);
    font-weight: 700;
    margin-top: 0.5em;
}
