body {
  margin: 0;
  padding: 0;
}
.main-wrapper {
  width: 100%;
  height: 100%;
}
/* ============================================
-----------------Page-1 Styles--------------
============================================ */
.page1-wrapper {
  width: 100%;
  height: 100vh;
  padding: 5%;
}
h2 {
  font-size: 4vw;
  line-height: 4.3vw;
  font-weight: bold;
  font-family: "Source Serif Pro", serif;
}
h3 {
  font-size: 2.5vw;
  line-height: 2.8vw;
  font-weight: bold;
  font-family: "Source Serif Pro", serif;
  margin-bottom: 0;
}
h4 {
  font-size: 2vw;
  line-height: 2.4vw;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
p {
  font-size: 0.9vw;
  line-height: 1.1vw;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.page1-wrapper .p1-content-con {
  width: 100%;
  height: 100%;
  background: url("../images/page-1-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5%;
  position: relative;
}
.p1-content-con .main-logo {
  width: 100%;
}
.p1-content-con .main-logo img {
  width: 20%;
}
.p1-content-con .p1-text {
  margin-top: 6%;
}
.p1-content-con .p1-text h2 {
  color: #ffffff;
}
.p1-content-con .brand-box {
  width: 15vw;
  height: 60px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 7%;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p1-content-con .brand-box img {
  width: 70%;
}
/* ============================================
-----------------Page-2 Styles--------------
============================================ */
.page2-wrapper {
  width: 100%;
  height: 100vh;
}
.page2-wrapper .p2-content-con {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.p2-content-con .p2-title-col {
  width: 100%;
  height: 100%;
  background: #122867;
  display: grid;
  place-items: center;
}
.p2-content-con .p2-title-col h3 {
  font-size: 3vw;
  line-height: 3.7vw;
  color: #fff;
}
.p2-content-con .p2-img-col {
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("../images/p2-img.png");
  background-size: cover;
  background-position: center;
}
/* ================================================
-------------Page 3 Styles----------------------
================================================ */
.p3-wrapper{
  width: 100%;
  height: auto;
  /* margin: 10px 0 !important; */
}
.p3-wrapper .p3-content{
  width: 100%;
  height: auto;
}

/* ------------p3 row 1-------------- */
.p3-wrapper .p3-content .p3-row1{
  color: #fff;
}
.p3-wrapper .p3-content .p3-row1 .p3-row1-item{
  padding: 2% 1%;
  position: relative;
  justify-content: center;
  align-items: flex-start;
}
.p3-content .p3-row1 .p3-row1-item.item-1{
  background: #2E3A6E;
  align-items: center;
}
.p3-content .p3-row1 .p3-row1-item.item-1::before{
  content: "";
  position: absolute;
  bottom:-2.2vw;
  left: 12%;
  width: 0; 
  height: 0; 
  border-left: 2.2vw solid transparent;
  border-right: 2.2vw solid transparent;
  border-top: 2.2vw solid #2E3A6E;
}
.p3-row1-item.item-1 .item-icon {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.p3-row1-item.item-1 .item-icon span{
  width: 6vw;
  height: 6vw;
  position: absolute;
  background: #B4B22F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p3-row1-item.item-1 .item-icon span img{
  width: 50%;
}

/* -------------- p3-row1-item-2-------------- */
.p3-content .p3-row1 .p3-row1-item.item-2{
  background: #00AFEF;
}
.p3-content .p3-row1 .p3-row1-item.item-2::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -2.2vw;
  transform: translateY(-50%);
   width: 0; 
  height: 0; 
  border-top: 2.2vw solid transparent;
  border-bottom: 2.2vw solid transparent;
  border-right: 2.2vw solid #00AFEF;
}
.p3-row1-item.item-2 .item-icon-con{
  width: 100%;
}
.p3-row1-item.item-2 .item-icon-con .item-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p3-row1-item.item-2 .item-icon-con .item-icon img{
  width: 30%;
}
/* -------------- p3-row1-item-2-------------- */

.p3-content .p3-row1 .p3-row1-item.item-3{
  background: #B4B22F;
}
.p3-content .p3-row1 .p3-row1-item.item-3::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -2.2vw;
  transform: translateY(-50%);
   width: 0; 
  height: 0; 
  border-top: 2.2vw solid transparent;
  border-bottom: 2.2vw solid transparent;
  border-right: 2.2vw solid #B4B22F;
}
.p3-row1-item.item-3 .item-icon-con{
  width: 100%;
}
.p3-row1-item.item-3 .item-icon-con .item-icon{
  justify-content: center;
  align-items: center;
  margin: 2% 0 !important;
}
.p3-row1-item.item-3 .item-icon-con .item-icon img{
  width: 100%;
}

/* ----------------p3 row-2 styles------------- */
.p3-row2-item{
  width: 100%;
  height:100%;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.p3-row2-item .item-icon {
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.p3-row2-item .item-icon span{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p3-row2-item .item-icon span img{
  width: 55%;
}

.p3-row2-item.item-1 .item-icon {
  border: 1px dashed #B4B22F;
}
.p3-row2-item.item-1 .item-icon span{
  background: #B4B22F;
}
.p3-row2-item.item-1 .item-text{
  color: #B4B22F;
}
.p3-row2-item.item-2 .item-icon {
  border: 1px dashed #122867;
}
.p3-row2-item.item-2 .item-icon span{
  background: #122867;
}
.p3-row2-item.item-2 .item-text{
  color: #122867;
}
.p3-row2-item.item-3 .item-icon {
  border: 1px dashed #00AFEF;
}
.p3-row2-item.item-3 .item-icon span{
  background: #00AFEF;
}
.p3-row2-item.item-3 .item-text{
  color: #00AFEF;
}
.p3-row2-item.item-4 .item-icon {
  border: 1px dashed #00AFEF;
}
.p3-row2-item.item-4 .item-icon span{
  background: #00AFEF;
}
.p3-row2-item.item-4 .item-text{
  color: #00AFEF;
}

/* ----------------p3 row-3 styles------------- */
.p3-row-3{
  overflow: hidden;
  margin-bottom: 20px;

}
.p3-row3-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
  color: #fff;
}
.p3-row3-item .item-icon {
  width: 7vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 15px;
}
.p3-row3-item .item-icon span{
  display: flex;
  justify-content: center;
  align-items: center;
}
.p3-row3-item .item-icon span img{
  width: 70%;
}
.p3-row3-item .item-text{
  text-align: center;
  width: 80%;
  padding: 4%;
  border: 1px solid #fff;
}


.p3-row3-item.item-1{
  background: #00AFEF;
}
.p3-row3-item.item-2{
  background: #122867;
}
.p3-row3-item.item-3{
  background: #00AFEF;
}
.p3-row3-item.item-4{
  background: #122867;
}
.p3-row3-item.item-5{
  background: #00AFEF;
}
/* ==========================================
-------------Page 4 Styles----------------
========================================== */
.p4-wrapper{
  width: 100%;
  height: 100vh;
}
.p4-wrapper .p4-content-con{
  width: 100%;
  height: 100%;
}
.p4-content-con .p4-section1{
  background: url('../images/page4/p4-paper-bg.png');
  background-size: cover;
  background-position:  center;
  background-repeat: no-repeat;

}
.p4-content-con .p4-section2{
  background: url('../images/page4/p4-buildings-bg.png');
  background-size: cover;
  background-position:  center;
  background-repeat: no-repeat;
}
/* -------- P4 Section 1 Row 1---------------- */
.p4-section1 .p4-sec1-row-1{
  height: 50%;
  padding: 3% 4% 3% 10%;
  border-bottom: 8px solid #00AFEF;
}
.p4-section1 .p4-sec1-row-1 .p4-title{
  padding: 2%;
  color: #122867;
}
.p4-sec1-row-1 .p4-row1-item-box{
  padding: 3% 2% 3% 10%;
  border: 2px dashed #122867;
  border-radius: 10px;
  color: #122867;
  position: relative;
}
.p4-sec1-row-1 .p4-row1-item-box .p4-character-icon{
  height: 100%;
  position: absolute;
  top: 0;
  left: -3%;
}
.p4-sec1-row-1 .p4-row1-item-box .p4-character-icon img{
  height:  100%;
}
.p4-row1-item-box .item{
  padding: 4%;
}
.p4-row1-item-box .item-1, .p4-row1-item-box .item-2{
  border-right: 1px solid #122867;
}

/* ----------P4 Section 1 Row 2-------------- */
.p4-sec1-row-2{
  width: 100%;
  height: 20%;
  background: #122867;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
.p4-sec1-row-2 .p4-row2-item .item-icon{
  width:6.5vw;
  height:6.5vw;
  background: #00AFEF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p4-sec1-row-2 .p4-row2-item .item-icon img{
  width: 50%;
}
.p4-sec1-row-2 .p4-row2-item .item-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --------- P4 Section 1 Row 3 Styles ------------*/
.p4-sec1-row-3{
  width: 100%;
  height: 30%;
  background: #00AFEF;
  color: #122867;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p4-sec1-row3-items{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/page4/Asset\ 3.png');
  background-size: 75%;
  background-position:  left;
  background-repeat: no-repeat;
}
.p4-sec1-row3-items .p4-row3-item {
   align-items: center;
}
.p4-row3-item .item-icon{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p4-row3-item .item-icon img{
  width: 100%;
}
.p4-row3-item .item-text h4{
  font-size: 1.5vw;
}
.p4-row3-item .item-text p{
  font-size: 0.8vw;
  font-weight: 700;
  line-height: 0.9vw;
}
.p4-row3-item.item-2{
  padding-left: 0;
}
.p4-row3-item.item-2 .item-text{
  position: absolute;
  right: -30%;
  top: -70%;
}
.p4-row3-item.item-3{
  padding-top: 10%;
}

/* ================================================
-------------Page 5 Styles----------------------
================================================ */
.p5-wrapper{
  width: 100%;
  height: 100vh;
  height: auto;
  padding: 0;
  margin: 0;
}
.p5-wrapper .p5-content-con{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.p5-content-con .p5-section-1{
  padding: 5% 3%;
}
.p5-content-con .p5-section-1 .p5-title h4{
  font-family: "Montserrat", sans-serif;
  color: #122867;
}
.p5-section-1 .p5-sec1-items{
  padding-top: 1%;
}
.p5-section-1 .p5-sec1-items .p5-sec1-items-row{
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}
.p5-section-1 .p5-sec1-items .p5-sec1-items-row.row-1{
  border-bottom: 1px solid #cfcfcf;
}
.p5-sec1-items-row .p5-sec1-item{
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p5-sec1-items-row .p5-sec1-item .item-icon .item-perc{
  margin: 2% 0;
  
}
.p5-sec1-items-row .p5-sec1-item .item-icon .item-perc h4{
  margin: 5% 0 ;
  color: #fff;

}
.p5-sec1-items-row .p5-sec1-item .item-text{
  margin:5% 0; 
}
.p5-sec1-items-row .p5-sec1-item .item-text p{
  font-size: 1.1vw;
  font-weight: bold;
  text-align: center;
  color: #122867;
}
.p5-sec1-items-row .p5-sec1-item .item-icon{
  width: 10vw;
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}
.p5-sec1-items-row .p5-sec1-item.item-1 .item-icon{
  background: #B4B22F;

}
.p5-sec1-items-row .p5-sec1-item.item-1 .item-icon img{
  width: 80%;
}

.p5-sec1-items-row .p5-sec1-item.item-2 .item-icon{
  background: #E15C42;

}
.p5-sec1-items-row .p5-sec1-item.item-2 .item-icon img{
  width: 80%;
}

.p5-sec1-items-row .p5-sec1-item.item-3 .item-icon{
  background: #666666;

}
.p5-sec1-items-row .p5-sec1-item.item-3 .item-icon img{
  width: 70%;
}

.p5-sec1-items-row .p5-sec1-item.item-4 .item-icon{
  background: #3A7EC0;

}
.p5-sec1-items-row .p5-sec1-item.item-4 .item-icon img{
  width: 80%;
}

.p5-sec1-items-row .p5-sec1-item.item-5 .item-icon{
  background: #2E3A6E;
  overflow: hidden;
}
.p5-sec1-items-row .p5-sec1-item.item-5 .item-icon img{
  width: 80%;
}

.p5-sec1-items-row .p5-sec1-item.item-6 .item-icon{
  background: #000000;

}
.p5-sec1-items-row .p5-sec1-item.item-6 .item-icon img{
  width: 70%;
}
/* ------------------P 5 Section 2-------------------- */
.p5-content-con .p5-section-2{
  height: 100%;
  height: auto;
  padding: 0;
}
.p5-content-con .p5-section-2 h4{
  font-size: 1.5vw;
}
.p5-content-con .p5-section-2 p{
  font-size: 0.8vw;
}
.p5-section-2 .p5-sec2-row.row-1{
  background: linear-gradient(30deg, rgba(58,126,192,1) 0%, rgba(46,58,110,1) 59%);
  padding: 10% 10% 0;
  height: 33.33%;
  color: #fff;
}
.p5-section-2 .p5-sec2-row .p5-sec2-items{
  padding: 2% 0;
}
.p5-sec2-items .p5-sec2-item{
  padding: 2% 1% 2% 0;
}
.p5-section-2 .p5-sec2-row.row-2{
  background: #F6F6F7;
  padding: 0% 10%;
  color: #122867;
  height: 33.33%;
}
.p5-section-2 .p5-sec2-row.row-3{
  background: #3a7ec0;
  padding: 2% 10% 8%;
  color: #ffffff;
  height: 33.33%;
}

/* ================================================
-------------Page 6 Styles----------------------
================================================ */
.p6-wrapper{
  width: 100%;
  /* height: 100vh; */
  height: auto;
  padding: 0;
  margin: 0;
}
.p6-wrapper .p6-content-con{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.p6-content-con .p6-section-1{
  padding: 3% 0%;
}
.p6-section-1 .p6-sec1-title{
  padding-left: 10%;
  margin: 5% 0;
}
.p6-section-1 .p6-sec1-title h2{
  font-size: 2.4vw;
  line-height: 2vw;
}
.p6-section-1 .p6-sec1-item h4{
  font-size: 1.8vw;
  line-height: 1.8vw;
  margin: 0 10px;
}
.p6-section-1 .p6-sec1-item p{
  font-size: 0.8vw;
  line-height: 0.8vw;
}
.p6-section-1 .p6-sec1-items{
  padding: 0;
}
.p6-sec1-items .p6-sec1-item{
  padding: 7% 0;
  position: relative;
}
.p6-sec1-items .p6-sec1-item .item-row{
  padding:  0;
  color: #fff;
  align-items: center;
  position: relative;
  padding: 2% 8%;
}
.p6-sec1-items .p6-sec1-item .item-row .item-img img{
  width: 100%;
}
.p6-sec1-items .p6-sec1-item.item-1 .item-row{
  background: #000000;
  justify-content: flex-end; 
}
.p6-sec1-items .p6-sec1-item.item-1 .item-row .item-img{
  position: absolute;
  left: 10%;
}
.p6-sec1-items .p6-sec1-item.item-2 .item-row{
  padding-left: 20%;
  background: #92b048;
  justify-content: flex-start; 
}
.p6-sec1-items .p6-sec1-item.item-2 .item-row .item-img{
  position: absolute;
  right: 0;
}
.p6-sec1-items .p6-sec1-item.item-3 .item-row{
  padding-right: 25%;
  background:  #ec3e48;
  justify-content: flex-end; 
}
.p6-sec1-items .p6-sec1-item.item-3 .item-row .item-img{
  position: absolute;
  left: 10%;
}
.p6-sec1-items .p6-sec1-item.item-4 .item-row{
  background: #fabb2e ;
  color: #122867;
  justify-content: flex-start; 
}
.p6-sec1-items .p6-sec1-item.item-4 .item-row .item-img{
  position: absolute;
  right: 0;
}
/* ------------------------P6 Section 2--------- */
.p6-section-2{
  background: linear-gradient(to right, #3a7ec0 ,#2e3a6e );
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  height: auto;
}
.p6-section-2 .p6-sec2-logo{
  padding: 0;
  margin: 20% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p6-section-2 .p6-sec2-logo img{
  width: 60%;
}
.p6-section-2 .p6-sec2-items{
  padding: 3% 0;
}
.p6-sec2-items .p6-sec2-item{
  padding: 5% 0;
}
.p6-sec2-item h4{
  font-size: 4vw;
  line-height: 4.3vw;
}
/* --------P 6 section 3---------------- */
.p6-content-con .p6-section-3{
  padding: 3% 2%;
}
.p6-section-3 .p6-sec3-title{
  padding-left: 10% 5%;
  margin: 5% 0;
}
.p6-section-3 .p6-sec3-title h2{
  font-size: 2.4vw;
  line-height: 2vw;
}
.p6-section-3 .p6-sec3-items h4{
  font-size: 1.8vw;
  line-height: 1.8vw;
  margin: 0 10px;
}
.p6-section-3 .p6-sec3-items h3{
  font-size: 1.6vw;
  line-height: 1.9vw;
  font-family: "Montserrat", sans-serif;
}
.p6-section-3 .p6-sec3-items p{
  font-size: 0.9vw;
  line-height: 1.2vw;
}
.p6-sec3-item.item-3 h4{
  font-size: 2.6vw;
}
.p6-sec3-items{
  padding: 0;
}
.p6-sec3-items .p6-sec3-item{
  padding: 2% 0;
  border-top: 1px solid black;
}
.p6-sec3-items .p6-sec3-item .p6-sec3-row{
  padding: 2.4% 0;
  border-bottom: 1px solid #cfcfcf;
}
.p6-sec3-items .p6-sec3-item .p6-sec3-row.row-3{
  border-bottom:none;
}
.row-item
/* ------------p6 Sec 3 item-1---------- */
.p6-sec3-item .row-1 .row-item-1{
  color: #122867;
}
.p6-sec3-item .row-1 .row-item-2{
  color: #3A7EC0;
}
.p6-sec3-item .row-2 .row-item-1{
  color: #666666;
}
.p6-sec3-item .row-2 .row-item-2{
  color: #B4B22F;
}
.p6-sec3-item .row-3 .row-item-1{
  color: #E15C42;
}
.p6-sec3-item.item-3{
  color: #122867;
}



/* ------------p6 Sec 3 item-2---------- */

/* ------------p6 Sec 3 item-3---------- */
.p6-sec3-items .p6-sec3-item.item-3{
  padding: 2% 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  align-items: center;
}

/* ============================================
-----------------Page-7 Styles--------------
============================================ */
.p7-wrapper{
  width: 100%;
  height: 100vh;
  height: auto;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}
.p7-wrapper .p7-content-con{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

/* -------------p7 section 1----------------- */
.p7-content-con .p7-section-1{
  height: 100%;
  padding: 3% 3.5%;
  background: linear-gradient(to right, #3a7ec0 ,#2e3a6e );
  color: #fff;
}
.p7-section-1 .p7-title{
  padding: 2% 0;
  margin: 0;
}
.p7-section-1 .p7-title h2{
  font-size: 2.5vw;
  line-height: 2.8vw;
}
.p7-section-1 .p7-sec1-items p{
  font-size: 0.7vw;
  line-height: 0.8vw;
  font-weight: 500;
}
.p7-sec1-items .p7-sec1-row{
  padding: 1% 0 2%;
  border-top: 0.3px solid #fff;
  border-bottom: 0.3px solid #fff;
}
.p7-section-1 .p7-sec1-items {
  padding: 0;
}
.p7-section-1 .p7-sec1-items .p7-sec1-row-item{
  padding: 5px;
}
.p7-sec1-row .p7-sec1-row-item{
  color: #B4B22F;
}
.p7-sec1-row .p7-sec1-row-item.item-1{
  color: #ffffff;
}
.p7-sec1-row.row-1 .p7-sec1-row-item.item-2{
  color: #ffffff;
}

/* ------------------p7 section 2----------------- */
.p7-section-2{
  height: auto;
}
.p7-sec2-item.item-1{
  width: 100%;
  height: 35%;
  background: url(../images/p2-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
.p7-sec2-item.item-1 .p7-sec2-logo{
  width: 100%;
  height: 100%;
  padding: 0;
  padding-right: 20%;
  background: #122967be;
  display: flex;
  justify-content: flex-end;

}
.p7-sec2-item.item-1 .p7-sec2-logo img{
  width: 15%;
}
/* ---------------p7 section 2 item 2----------  */
.p7-sec2-item.item-2{
  width: 100%;
  height:35%;
  padding: 3%;
}
.p7-sec2-item.item-2 .item{
  padding: 3%;
  color: #122867;
}

/* ------------P7 Section 2 item 3---------- */
.p7-sec2-item.item-3{
  width: 100%;
  height: 30%;
}
.p7-sec2-item.item-3{
  padding: 0;
}
.p7-sec2-item.item-3 .p7-sec2-item-row{
  /* padding: 3% 0; */
  height: 33.33%;
  align-items: center;
}
.p7-sec2-item.item-3 .p7-sec2-item-row.row-1{
  background:#122867;
  color: #ffffff;
}
.p7-sec2-item.item-3 .p7-sec2-item-row.row-2{
  background:#3a7ec0;
  color: #ffffff;
}
.p7-sec2-item.item-3 .p7-sec2-item-row.row-3{
  background:#00AFEF;
  color: #122867;
}
/* ================================================
-------------Page 8 Styles----------------------
================================================ */
.p8-wrapper {
  width: 100%;
  height: 100vh;
  padding: 0;
}
.p8-wrapper .p8-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.p8-content .p8-section1 {
  background: url(../images/p8-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.2);
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 2;
}
.p8-section1 h3{
  font-size: 2vw;
}
.p8-section2 {
  font-size: 1.2vw;
}
.p8-content .p8-section2 {
  position: relative;
  z-index: 1;
  padding: 4% 3% 3% 0 !important;
  background: #fff;
}


/* ============================================
-----------------Page-9 Styles--------------
============================================ */
.page9-wrapper {
  width: 100%;
  height: 100vh;
  padding: 5%;
}
.page9-wrapper .p9-content-con {
  width: 100%;
  height: 100%;
  background: url("../images/page-9-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5%;
  position: relative;
  display: flex;
}
.p9-content-con .main-logo {
  bottom: 5%;
  position: absolute;
  width: 30%;
}
.p9-content-con .main-logo img {
  width: 70%;
}
.p9-content-con .p9-text {
  position: absolute;
  bottom: 3%;
  left: 40%;
}
.p9-content-con .p9-text h2 {
  color: #ffffff;
}
.p9-content-con .brand-box {
  width: 15vw;
  height: 60px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p9-content-con .brand-box img {
  width: 70%;
}



