@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body{
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
}
*,*::before,*::after {
    box-sizing: border-box;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-size: clamp(18px,3vw,32px);
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #676767;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #333333;
}
.bg-blue{
    background-color: #284580;
}
.t-white{ color:#ffffff;}
.t-yellow{ color: #FFD119;}
.bottom15{
    margin-bottom: 15px;
}
.top15{
    margin-top: 15px;
}
.top20{
    margin-top: 20px;
}
.bottom40{
    padding-bottom: 40px;
}
.bottom20{
    margin-bottom: 20px;
}
.bottom10{
    margin-bottom: 10px;
}
/* =========================
------Header Styles
======================== */

/* ------------------Header----------------- */
header{
	position:relative;
	background:transparent;
	width:100%;
    z-index:999;
}

/* ----------------Topbar------------------- */
.gray{
    background-color: #f3f3f3;
}
.layout_default .topbar p , .layout_default .topbar ul.breadcrumb_top li a , .topbar ul.breadcrumb_top > li + li::before{
    color: #1f1f1f;
}
.layout_default .topbar p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.topbar p , .topbar ul.breadcrumb_top{
    margin: 10px 0;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
.topbar ul.breadcrumb_top li a{
    font-size: 12px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.topbar ul.breadcrumb_top , .topbar ul.breadcrumb_top li {
    display: inline-block;
}
.topbar ul.breadcrumb_top li  a{
    vertical-align: middle;
}
.topbar ul.breadcrumb_top li  a > i{
    font-size: 15px;
    margin-right: 5px;
    vertical-align: middle;
}
.topbar ul.breadcrumb_top > li + li::before{
    content: "|";
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}


/* -----------Header-upper------------- */
.header-upper {
    position: relative;
    background: #ffffff;
    z-index: 999;
}
.header-upper{
    transition: all ease-in .3s;
}
.header-upper .logo{
    display: inline-block;
}
.header-upper .logo a{
    display: block;
    padding: 15px 0;
}
.header-upper .right{
    text-align: right;
}
.header-upper .info-box .first{
    padding-left: 0;
}
.info-box{
    margin: 20px 0;
    padding: 0 15px;
    position: relative;
    display: inline-block;
    text-align: left;
}
.info-box .icons{
    width: 26px;
    text-align: center;
    vertical-align: middle;
    color: #1f3f81;
}
.info-box .icons , .info-box ul{
    display: table-cell;
}
.info-box li{
    position: relative;
    line-height: 20px;
    padding-left: 10px;
    font-size: 14px;
    color: #9b9b9b;
    font-family: 'Roboto', sans-serif;
}
.info-box strong{
    color: #1f1f1f;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.header-upper .info-box::before{
    content:"";
    height: 70%;
    width: 2px;
    background: #cacaca;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header-upper .info-box.first::before{
    content: none !important;
}
.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}
nav .social-links{
    margin-left:10px
}
nav .social-links .social_share li{
    margin: 0 6px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler{
    border: none;
}
.navbar .navbar-brand.logo-light-con{
    display: none;
}
.navbar .container-md{
    display: flex;
    justify-content: flex-end;
}
.navbar .navbar-nav{
    transition: all 0.3s;
}

ul.social_share, ul.social_share li {
    display: inline-block;
}

.layout_default .bg-color{
    background-color: #1F3F81;
}
@media only screen and (max-width: 991px){
    .layout_default .dpnone{
        display: none;
    }

}
/* ========================
-------Banner Styles----
======================== */
.header-banner{
    position: relative;
    height: auto;
    width: auto;
}
.banner-con .banner-slider-con{
    width: auto;
    height: auto;
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
.banner-con .banner-slider-con .carousel{
    position: relative;
    z-index: 1;
}
.banner-con .banner-slider-con .carousel .carousel-item{
    width: 100%;
    max-height: 85vh;
}
.banner-con .banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    align-items: center;
}
.banner-content .banner-text{
    position: relative;
    padding-left: 4%;
}
.banner-content .banner-text h2{
    font-size: clamp(22px,3vw,48px);
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.banner-content .banner-text p{
    font-size: clamp(13px,2vw,17px);
    width: 70%;
    margin-bottom: 30px;
}
.banner-content .banner-text a{
    font-size: clamp(13px,2vw,16px);
   padding: 13px 50px;
   border: 1px solid #ffffff;
   font-weight: 600;
   transition: all 0.3s ease-in-out;
}
.banner-content .banner-text a:hover{
   background: #ffffff;
   color: #333333;
}

.header-banner .header-search {
    display: flex;
    height: 100%;
    justify-content: center;
    background: #1f4080e1;
}
.header-banner .header-search .header-search-con{
    width: 100%;
    height: 100%;
    padding: 30px 1%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-search .search-form input, .header-search .search-form select{
    width: 100%;
    outline: none;
    border:none;
    height: 44px;
    padding: 6px;
    font-size: 14px;
    color: #999999;
    border-radius: 5px;
}



.center {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}

:root {
    --clr-prim:#FFD119;
    --clr-prim-h:#178242;
    --clr-bad:#D91E18;
    --clr-box:#F9F9F9;
    --clr-box-dark:#f2f2f2;
    --clr-border:#D9D9D9;
    --txt-clr:#333333;
    --shadow:0px 3px 6px 0px rgba(0,0,0,0.1);
    --cubic:cubic-bezier(0.11, 0.54, 0.33, 1.01);
}
.header-search .price-range-slider{
    color: #ffffff;
    position: relative;
}
.price-range-slider .price-range-slider-text{
    font-size: 14px;
}
.header-search .price-range-slider .price-range-slider-text p{
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.price-range-slider .dual-range {
	--range-size:12px;
	--range-width:100%;
	--handle-size:1.6;
	height:var(--range-size);
	width:var(--range-width);
	background:var(--clr-box-dark);
	border-radius:50px;
	position:relative;
	user-select:none;
}
.header-search .dual-range	.highlight {
    position:absolute;
    height:var(--range-size);
    width:calc(calc(var(--x-2) - var(--x-1)) + calc(var(--range-size) * var(--handle-size)));
    left:var(--x-1);
    background:var(--clr-prim);
    z-index:1;
    border-radius:50px;
}
	
.dual-range	 .handle {
    width:calc(var(--range-size) * var(--handle-size));
    height:calc(var(--range-size) * var(--handle-size));
    background:#fff;
    position:absolute;
    box-shadow:var(--shadow);
    border-radius:50%;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    cursor:grab;
}
.handle:active {
    cursor:grabbing;
}

.handle.left {
    left:var(--x-1);
}

.handle.right {
    left:var(--x-2);
}
.header-search .submit-btn-con {
    margin-top: auto;
}
.header-search .btn.btn-submit{
    width: 100%;
    height: 100%;
    max-height: 48px;
    background: #FFD119;
    font-weight: 600;
}
.header-search .btn.btn-submit:hover{
    width: 100%;
    height: 100%;
    max-height: 48px;
    background: #ffffff;
}

/* ==========================================================================================
-----------------------------------Property Portfolio Section-----------------------------------------
============================================================================================= */


.padding{
    padding: 80px 0;
}
.bg-gallery{
    background-image: url(../images/bg-gallery.jpg);
    background-position: bottom;
    background-color: #edf3f8;
    background-size: cover;
    background-repeat: no-repeat;
}
.uppercase{
    text-transform: uppercase;
}
#property h2.uppercase{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
}
#property button.btn-default{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0;
    margin: 0 10px 10px 10px;
    outline: none;
    border-radius: 0;
}
#property button.btn-default:focus{
    box-shadow: none;
}
#property button.btn-property-active{
    border-color: #1F3F81;
    color: #1F3F81;
}
#property button.btn-default:hover{
    border-color: #1F3F81;
    color: #1F3F81;
}
#property .heading_space{
    margin-bottom: 40px;
}
#property p.heading_space{
    font-size: 15px;
    color: #676767;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.property-item .image{
    position: relative;
    padding: 0;
    overflow: hidden;
}
.property-item .image img{
    width: 100%;
}
.property-item .image span{
    position: absolute;
    color: #535353;
    font-size: 14px;
    display: block;
}
 .property-item .image span.tag_t{
    top: 10px;
    right: 10px;
}
.property-item .image span.tag_l{
    top: 10px;
    left: 10px;
}
.property-item .image span.price{
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 8px 15px;
    background-color: #173471;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.property-item .image span.tag_t{
    color: #333;
    background-color: #FFD119;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
}
.property-item .image span.tag_l{
    color: #fff;
    background-color: #1d1d1d;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
}
.gallery_product{
    margin-bottom: 20px;
}
.property-content{
    position: relative;
    background-color: white;
    border: 1px solid #e5e5e5;
}
.property-content .property-heading{
    padding: 25px 20px;
}
.capital{
    text-transform: capitalize;
}
.property-heading h3 > a{
    display: block;
    text-decoration: none;
    outline: none;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #1f1d22;
}
.property-content h3, .property-content p{
    margin: 0;
    font-size: 15px;
    color: #676767;
}



.property-content .property-dis {
    background: inherit;
    border: none;
}
.property-content .property-dis{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.property-content .property-dis span{
    display: table-cell;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.property-content .property-dis span > i , .property-content .property-dis span > svg{
    font-size: 15px;
    margin-right: 10px;
}
.property-content .fav{
    border-top: 1px solid #e5e5e5;
}
.property-content .fav p{
    line-height: 44px;
    margin-left: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.property-content .fav p, .property-content .fav ul, .property-content .fav ul li{
    display: inline-block;
}
.property-content .fav ul li{
    width: 48px;
    margin: 0 0 0 -4px;
}
.property-content .fav ul li > a{
    display: block;
    
    height: inherit;
    line-height: 48px;
    text-align: center;
    width: 48px;
    border-left: 1px solid #e5e5e5;
}
.property-content .fav ul li > a > i, .property-content .fav ul li > a > svg{
    margin: 0 !important;
    font-size: 23px;
    color: #333;
    vertical-align: middle;
}
.property-content .fav .pull-right{
    float: right !important;
    margin: 0 !important;
}
.property-content .fav .pull-right li:hover{
    background: #d2d2d2;
}
#property .btn-dark{
    font-size: 14px;
    padding: 14px 35px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #fff;
    background-color: #1f1d22;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 40px;
}



/* ==============================================
--------Project Portfolio Section----------
============================================== */

/* --------Project Portfolio Top Text---------- */

#project{
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-projectgallery{
    background-color: #F5F7FB;
}
.bg-projectgallery .title-wrap{
    align-items: flex-end;
}
#project .project-text h2.uppercase{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
}
#project .project-text p{
    font-size: 15px;
    color: #676767;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/* --------Project Portfolio Top Buttons---------- */

#project .project-btngroup , #project .project-text{
    margin-bottom: 40px;
}
#project .project-btngroup{
    position: relative;
    display: flex;
}
#project .title-wrap .project-btngroup .btn-proj{
    border-radius: 0;
    /* width: 100px; */
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: 1px solid #eee;
    border-right: none;
    margin: 0;
    padding: 11px 30px;
}
#project .title-wrap .project-btngroup .firstbtn{
    border-radius: 4px 0 0 4px;
}
#project .title-wrap .project-btngroup .lastbtn{
    border-radius: 0 4px 4px 0;
    border: 1px solid #eee !important;
}
.btnactive, .btn-proj.btn:hover{
    background-color: #173471;
    color: white;
}
#project .title-wrap .project-btngroup .lastbtn.btnactive{
    background-color: #173471;
    color: white;
}


/* --------Project Portfolio Cards---------- */
#project #project-gallery .project-cards{
    margin-bottom: 20px;
}

#project #project-gallery .project-cards .project-item .project-image, #project #project-gallery .project-cards .project-item .project-content{
    position: relative;
}
#project #project-gallery .project-cards .project-item {
    border-radius: 5px;
    overflow: hidden;
}
#project #project-gallery .project-cards .project-item .project-image .tag{
    position: absolute;
    z-index: 5;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpl{
    top: 15px;
    left: 10px;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpr{
    top: 10px;
    right: 10px;
    color: white;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpr > div > a{
    margin-bottom: 5px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    background: #fff;
    color: #3270FC;
    font-size: 1em;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpl div{
    display: flex;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpl div .rent, #project #project-gallery .project-cards .project-item .project-image .tag.tag-tpl div .sale{
    margin-bottom: 5px;
    background-color: #FFD119;
    padding: 7px 20px;
    color: #000;
    font-size: 10.998px;
    border-radius: 1.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpl div .featured{
    margin-bottom: 5px;
    background-color: #000;
    padding: 7px 20px;
    color: white;
    font-size: 11px;
    border-radius: 1.5px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11px;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpl div .featured::before{
    top: 0;
    bottom: auto;
    border-right: 20px solid transparent;
    border-top: 20px solid #000;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpl div .featured::after{
    top: auto;
    bottom: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #000;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpl div .featured::before , #project #project-gallery .project-cards .project-item .project-image .tag.tag-tpl div .featured::after{
    content: " ";
    display: block;
    position: absolute;
    right: -16px;
}
#project #project-gallery .project-cards .project-item .project-image .tag.tag-tpr{
    text-align: center;
}
#project #project-gallery .project-cards .project-item .project-image .project-location .tag{
    bottom: 10px;
    left: 10px;
}
#project #project-gallery .project-cards .project-item .project-image .project-location a{
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
#project #project-gallery .project-cards .project-item .project-image .project-img-counter .tag.tag-tbr{
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.project-cards .project-item .project-image .overlay{
    background-color: rgba(0,0,0,0.2);
    z-index: 3;
}



#project #project-gallery .project-cards .project-item .project-content{
    padding: 15px 20px;
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 0 0 6px 6px;
}
#project #project-gallery .project-cards .project-item .project-content .project-heading h3{
    text-align: left;
    padding: 0 0 5px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
}
#project #project-gallery .project-cards .project-item .project-content .project-heading h3 > a{
    color: #144273;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 23px;
}
#project #project-gallery .project-cards .project-item .project-content .project-heading .project-price{
    color: #3270FC;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
#project #project-gallery .project-cards .project-item .project-content .project-discription .dis-text>p{
    margin-bottom: 10px;
    color: #878c9f;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}  
#project #project-gallery .project-cards .project-item .project-content .project-discription .project-detail{
    margin-bottom: 10px;
}
#project #project-gallery .project-cards .project-item .project-content .project-discription .project-detail ul{
    display: flex;
    flex-wrap: wrap;
}
#project #project-gallery .project-cards .project-item .project-content .project-discription .project-detail ul > li{
    margin-right: 15px;
}
#project #project-gallery .project-cards .project-item .project-content .project-discription .project-detail ul > li >i{
    margin: 0 7px 0 0;
    font-size: 16px;
    color: #999;
}
#project #project-gallery .project-cards .project-item .project-content .project-discription .project-detail ul > li >span{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: .923em;
    color: #333;
}
#project #project-gallery .project-cards .project-item .project-content .project-discription .project-footer{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 0 0;
    border-top: 1px solid #eee;
    margin-top: 15px;
}
#project #project-gallery .project-cards .project-item .project-content .project-discription .project-footer .author img{
    border-radius: 100%;    
    margin-right: 10px;
    display: inline-block;
}
#project #project-gallery .project-cards .project-item .project-content .project-discription .project-footer .author span{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #70778b;
    font-size: 13px;
}
#project #project-gallery .project-cards .project-item .project-content .project-discription .project-footer .project-rating span > i{
    color: #facc39;
    font-size: .769em;
    margin-right: 4px;
}
#project a.more-project-btn{
    padding: 15px 40px;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    text-transform:uppercase;
    font-family: 'Roboto',sans-serif;
    background-color: #000;
    display: inline-block;
}
/* ================================
-----------Short Links-----------
================================ */
.shortlink-section{
    margin: 50px 0 50px 0;
}
.shortlink-section .shortlinks-section-heading{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 20px;
}
.shortlinks .PCFP , .shortlinks .PLFPL, .shortlinks .PLFPR{
    margin-bottom: 40px;
}
.shortlinks .sub-heading h4{
    font-size: 23px;
    font-family: 'Roboto Condensed', sans-serif;
}
.shortlinks .PCFP-heading h4{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.shortlinks .shortlist-lists ul li{
    margin-bottom: .5rem;
}
.shortlinks .shortlist-lists .view-all{
    color: #3270FC;
}
.shortlinks .shortlist-lists .view-all:hover{
    text-decoration: underline;
}
.shortlinks .shortlist-lists ul li > a{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
/* ================================
-----------News Cards-----------
================================ */
.section-news{
    padding: 80px 0 80px 0;
}
.section-news .title-box .title-a{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin: 0 !important;
}
.section-news .title-wrap{
    align-items: flex-end;
}
.section-news .title-link a > i{
    vertical-align: middle;
}
.section-news .title-link a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.card-box-b{
    position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-box-b .img-b {
    transition: 0.8s all ease-in-out;
}
.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.card-shadow {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-shadow:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

.card-header-b {
    padding: 1rem;
    color: #ffffff;
    position: absolute;
    bottom: 20px;
    z-index: 2;
}
@media (min-width: 768px) {
    .card-header-b {
      bottom: 0px;
    }
}
@media (min-width: 992px) {
    .card-header-b {
      bottom: 20px;
    }
}
.card-header-b .category-b {
    font-size: 0.9rem;
    background-color: #1f3f81;
    padding: 0.3rem 0.7rem;
    color: #fff;
    letter-spacing: 0.03em;
    border-radius: 50px;
    text-decoration: none;
}
.card-header-b .title-2 {
    margin-bottom: 0;
    padding: 0.6rem 0;
    font-size: 1.5rem;
}
@media (min-width: 768px) {
    .card-header-b .title-2 {
      font-size: 1rem;
    }
}
@media (min-width: 992px) {
    .card-header-b .title-2 {
      font-size: 1.6rem;
    }
}
.card-header-b .title-2 a {
    color: #ffffff;
    text-decoration: none;
}
.card-header-b .date-b {
    color: #d8d8d8;
    font-size: 1rem;
}
@media (min-width: 768px) {
    .card-header-b .date-b {
      font-size: 0.9rem;
    }
}
@media (min-width: 992px) {
    .card-header-b .date-b {
      font-size: 1rem;
    }
}
  

.carousel-pagination {
    margin-top: 10px;
    text-align: center;
}
.carousel-pagination .swiper-pagination-bullet {
    width: 18px;
    height: 10px;
    background-color: #555;
    margin: 0 4px;
    border-radius: 0;
    opacity: 1;
    transition: 0.3s;
}
.carousel-pagination .swiper-pagination-bullet-active {
    background-color: #173471;
    width: 36px;
}

/* ==============================================
--------------------App Setion Style-----------------
============================================== */
/* .app-section{
   padding: 40px 0 0 0;
    background: #F5F7FB;
}
.app-section .heading-left h3{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 500;
    color: #1f3f81;
}
.app-section .heading-left p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 400;
}
.app-section .app-bg-img{
    background-image: url(../images/appimgs/mobileAppsBackground.937eb86be98b3bde537276043aa8e3da.png);
    max-width: 1200px;
    background-size: contain;
    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.app-section .app-right .text-right .qr-arrow{
    margin-top: 0;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}
.app-section .app-right .qr .qr-text p{
    margin: 0 !important;
}
.app-section .app-right .qr .qr-text{
    margin-left: auto;
    margin-right: 1.5rem;
    font-size: 1.7rem;
    font-weight: 700;
    width: 16rem;
    line-height: normal;
}
.app-section .app-right .app-btn{
    margin-bottom: 1.5rem;
}
.app-section .app-right{
    margin: 1.5rem 0;
} */
/* ==============================================
--------------------App Setion Style-------------
============================================== */
.app-section{
   padding: 40px 0 40px 0;
    background: #F5F7FB;
}
.app-section .app-caption .title{
    font-size: 45px;
    font-weight: 700;
    color: #1f3f81;
    font-family: "Nunito",sans-serif;
    line-height: 1.3;
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}
.app-section .app-caption .sub-title{
    font-size: 13px;
    font-weight: 700;
    color: #adb5bd;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.app-section .app-caption p{
    margin-bottom: 30px;
    width: 70%;
    font-size: 16px;
    color: #707b83;
    line-height: 2;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.app-section button.app-download-btn{
    background: #1f3f81;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 0;
    padding: 25px 44px;
    z-index: 1;
    overflow: hidden;
    margin: 0; 
    /* transform: scale(1);   */
    transition: all 0.3s;
    border: none;
    position: relative;
}
.app-section button.app-download-btn span{
    z-index: 2;
    position: relative;
}
.app-section button.app-download-btn .bg-span{
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFD119;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.app-section button.app-download-btn:hover .bg-span{
    width: 100%;
}
.app-section-con .app-img{
    display: flex;
    justify-content: center;
}
.app-section-con .app-img img{
    width: 70%;
}

/* ==============================================
--------Property Details Page Styles----------
============================================== */
.page-banner{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 80px 0;
}
.page-banner .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
}
.page-banner.prop-details-banner{
    background-image: url(../images/banner-img-3.jpg);
}
.page-banner .page-banner-con{
    position: relative;
    z-index: 2;
}
.page-banner .page-banner-con .banner-text .breadcrumb{
    align-items: center;
    display: flex;
    justify-content: center;
}
.page-banner .page-banner-con .banner-text li{
    margin: 0 5px;
}
.page-banner .page-banner-con .banner-text li a{
    color: #ffffff;
    position: relative;
    padding-right: 15px;
}
.page-banner .page-banner-con .banner-text li a::after{
    content: "-";
    color: #ffffff;
    position: absolute;
    right: 0;
}

/* ____________________________________
---------property details style------
____________________________________ */
.prop-details-con{
    padding: 30px 0;
    position: relative;
}
.prop-details-con .prop-title {
    text-align: left;
}
.prop-details-con .prop-title h2{
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.prop-details-con .prop-gallery-main{
    width: 100%;
    height: auto;
}
.prop-gallery-main .gallery-img-main{
    height: auto;
    max-height: 650px;
    margin-bottom: 20px;
    overflow: hidden;
}
.prop-gallery-main .gallery-img-main img{
    width: 100%;
    height: 100%;
}
.prop-gallery-main .gallery-img-crsl{
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
}
.prop-gallery-main .gallery-img-crsl  .btn-gal-crsl{
    background:#ffffff80;
    width: 42px; 
    height: 42px;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    color: #676767;
    position: absolute;
    z-index: 5; 
    top: 50%;
    transform: translateY(-50%);
    
}
.prop-gallery-main .gallery-img-crsl  .btn-gal-crsl.btn-crsl-prev{
    left: 0;
}
.prop-gallery-main .gallery-img-crsl  .btn-gal-crsl.btn-crsl-next{
    right: 0;
}
.gallery-img-crsl .owl-carousel{
    position: relative
}
.gallery-img-crsl .owl-carousel .owl-nav, .gallery-img-crsl .owl-carousel .owl-dots{
    display: none;
}
.gallery-img-crsl .prop-gal-crsl .item{
    height: 130px;
}
.gallery-img-crsl .prop-gal-crsl .item img{
    width: 100%;
    height: 100%;
}
.property-meta .prop-det-tabs-con{
    display: flex;
    justify-content: space-evenly;
}
.prop-det-tab{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: #3a3a3a;
}
.prop-det-tab i, .prop-det-tab svg{
    margin-right: 8px;
    font-size: 18px;
}
.prop-det-tab.tab-1{
    margin-left: 0;
}
.prop-det-tab.tab-5{
    margin-right: 0;
}

.prop-details-con .property-content .property-desc .prop-det-quote{
    border-left: 6px solid #1f3f81;
    padding: 15px 10px 15px 25px;
}
.prop-details-con .property-content h4{
   font-family: 'Roboto' sans-serif;
   font-size: 24px;
   font-weight: 600;
}
 .prop-det-quote p{
   font-style: italic;
   font-family: 'Roboto' sans-serif;
   font-size: 15px;
   font-weight: 700;
}

/* Property Features styles */
.property-content .prop-features-con ul.features-list{
    display: flex;
    flex-wrap: wrap;
    list-style-image: url(../images/list-bullet.jpg);
    list-style-position: outside;
    margin-left: 15px;
}
.property-content .prop-features-con .features-list li{
    width: 32%;
    margin-bottom: 20px;
    transition: all 0.7s ease 0s;
    position: relative;
    left: 0;
    padding-left:5px ;
    font-size: 15px;
}
.property-content .prop-features-con .features-list li:hover{
    left: 15px;
    cursor: default;
}

/* Property Features Gallery styles */
.property-content .prop-features-gallery .prop-f-gal-items{
    display: flex;
    justify-content: space-between;
}
.property-content .prop-features-gallery .prop-f-gal-items .f-gal-item{
   width: 31%;
   position: relative;
   z-index: 1;
}
.f-gal-item img{
    width: 100%;
    position: relative;
    z-index: 1;
}

.prop-f-gal-items .f-gal-item .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #1f3f8190;
    z-index: 2;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform-origin: center;
    transform: scale(0);
    opacity: 0;
 }
.prop-f-gal-items .f-gal-item:hover  .overlay{
    transform: scale(1);
        opacity: 1;
 }
.prop-f-gal-items .f-gal-item .overlay::after{
    content: "\f002";
    font-size: 20px;
    position: absolute;
    color: #fff;
    font-family: FontAwesome;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    cursor: pointer;
 }
/* ========================
 ---- Modal Styles ------
 ======================== */
 .prop-features-gallery .modal.fade{
     overflow: hidden;
     margin: 0 auto;
 }
 .prop-features-gallery .modal.fade .modal-dialog{
     max-width: 100%;
     height: 100%;
     margin: 0;
     display: flex;
     align-items: center;
 }
 .prop-features-gallery .modal.fade .modal-dialog .modal-content{
     width: 90vw;
     max-width: 700px;
     height: auto;
     padding: 0;
     margin: auto;
     margin-left: auto;
     margin-right: auto;
     position: relative;
 }
 .prop-features-gallery .modal.fade .modal-dialog .modal-content img{
     width: 100%;
 }
 .modal-content .btn-close{
     position: absolute;
     right: 10px;
     top: 10px;
 }
 /* ---------------------------
Video Presentation styles
--------------------------- */
.property-desc-con .prop-vid-pres video{
    width: 100%;
}
 

/* ------------------------------------------------
Featured properties styles (Prop Details Page)
------------------------------------------------ */
.page-sidebar .featured-prop-con .featured-prop .prop-img{
    border-radius: 8px;
    background-image: url(../images/property-d-4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.featured-prop .prop-desc{
    padding-left: 25px;
}
.featured-prop .prop-desc h5{
    margin: 0;
    font-size: 18px;
}
.featured-prop .prop-desc p{
    margin: 0;
    font-size: 15px;
}
.featured-prop .prop-desc a.price-btn{
    margin: 10px 0 0;
    font-size: 15px;
    background: #1f3f81;
    color: #fff;
}


.page-sidebar .property-owner .prop-owner-img{
    padding: 0 15px;
}
.page-sidebar .property-owner .prop-owner-img img{
    width: 100%;
}
.page-sidebar .property-owner .prop-owner-contact span{
    color: #676767;
 }
.page-sidebar .prop-det-cont-form .form-con form input, .property-content .prop-det-cont-form .form-con form textarea{
    width: 100%;
    border: 1px solid #d5dadf;
    height: 44px;
    border-radius: 4px;
    background: #fff;
    padding: 6px 12px;
    font-size: 14px;
    color: #999999;
    margin: 10px 0;
}
.page-sidebar .prop-det-cont-form .form-con form textarea{
    width: 100%;
    height: auto;
    border: 1px solid #d5dadf;
    border-radius: 4px;
    background: #fff;
    padding: 6px 12px;
    font-size: 14px;
    color: #999999;
    margin: 10px 0;
}
.page-sidebar .prop-det-cont-form .form-con form .btn.btn-submit{
    background: #ffd119;
    color: #191919;
    display: inline-block;
    margin-top: 20px;
    width: auto !important;
    height: auto;
    font-size: 14px;
    padding: 14px 35px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    border: none;
    outline: none;
}
.page-sidebar .featured-prop-slider-con .f-prop-item{
    position: relative;
    height: 250px;
}
.page-sidebar .featured-prop-slider-con .f-prop-item .filter-tag{
    right: 0;
    top: 0;
    position: absolute;
    background: #FFD119;
    padding:  8px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.page-sidebar .featured-prop-slider-con .f-prop-item .prop-caption{
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #1f3f81;
    padding:  15px 0;
    color: #fff;
}


.property-desc-con .property-share-btns-con{
    border: 1px solid #e5e5e5;
}
.property-desc-con .property-share-btns-con .title{
    background: #cacaca;
    padding: 10px 0;
    text-align: center;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.property-desc-con .property-share-btns-con .title p{
    margin: 0;
    color: #1f1d22;
}
.property-desc-con .property-share-btns-con .sharebtn{
    padding: 10px 0;
    text-align: center;
    color: #676767;
}
.property-share-btns-con .sharebtn .btn-icon .fa{
    border-radius: 100%;
    box-shadow: 0 2px 1px 1px #d2d2d2;
    font-size: 16px;
    height: 40px;
    line-height: 43px;
    margin-right: 7px;
    text-align: center;
    width: 40px
}
.property-share-btns-con .sharebtn{
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}
.property-share-btns-con .sharebtn .btn-icon .fa{
    border-radius: 100%;
    box-shadow: 0 2px 1px 1px #d2d2d2;
    font-size: 16px;
    height: 40px;
    line-height: 43px;
    margin-right: 7px;
    text-align: center;
    width: 40px;
    transition: all 0.2s ease-in-out;
}
.property-share-btns-con .sharebtn:hover .btn-icon .fa{
    background: #FFD119;
    color: #fff;
}
/* ----------------------------------
Similar properies styles
---------------------------------- */
.similar-properties-sec{
    width: 100%;
    margin-bottom: 30px;
}
.similar-properties-sec .sim-prop-crsl-con{
    width: 100%;
    position: relative;
}
.sim-prop-crsl-con .slider-controls{
    position: absolute;
    top: -60px;
    right: 0;
}

.sim-prop-crsl-con .slider-controls .btn-sim-prop-crsl{
    background:#fff;
    border:none;
    width: 42px; 
    height: 42px;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    color: #676767;
    
}
.sim-prop-crsl-con .owl-carousel{
    position: relative
}

/* ===============================================
------------------- Card Items styles ------------
=============================================== */
.card-item{
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
    height: auto;
}
.card-item a:hover{
    color: #1f3f81;
}
.card-item .item-img{
    position: relative;
    width: 100%;
    height: 35vh;
    max-height: 275px;
    overflow: hidden;
}
.card-item .item-img img{
    width: 100%;
    height: 100%;
}
.card-item .item-img .tag{
    position: absolute;
    padding: 3px 10px;
    font-size: 13px;
}
.card-item .item-img .tag.tag-tpl{
    top: 10px;
    left: 10px;
    background: #000000;
    color: #fff;
}
.card-item .item-img .tag.tag-tpr{
    top: 10px;
    right: 10px;
    background: #FFD119;
}
.card-item .item-img .tag.tag-br{
    bottom: 0;
    right: 0;
    background: #1f3f81;
    color: #fff;
    font-size: 16px;
    padding: 5px 14px;
}
.card-item .item-details{
    padding: 15px;
}
.card-item .item-details .prop-features .prop-f-list{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.card-item .item-details .prop-features .prop-f-list > li{
    width: auto;
    padding: 0 10px;
    font-size: 13px;
    margin: 10px 2px;
}

.card-item .item-footer{
    border: 1px solid #e5e5e5;
}
.card-item .item-footer .footer-item{
    border-left: 1px solid #e5e5e5;
    display: flex;
    padding: 10px 0;
}
 .card-item .footer-item.post-time{
    align-items: center;
    padding-left: 10px !important;
    border-left: 0;
}
.card-item  .footer-item.post-time p{
    margin-left: 10px !important;
}
 .card-item .footer-item.like-btn, .footer-item.share-btn{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: #676767;
    transition: all 0.3s ease-in-out;
}
 .footer-item.like-btn:hover, .footer-item.share-btn:hover{
    background: #d2d2d2
}
.card-img img{
    transform: scale(1);
    transition: all 0.4s;
}
.card-img:hover img{
    transform: scale(1.2);
}
/* ======================================================================
-------------------Property Listing page  styles
====================================================================== */
/* -----------------------------------------
---------Property Search Form Styles 
----------------------------------------- */
.search-prop-section{
    padding: 30px 0 0;
}
.search-prop-section .search-prop-form-con{
    padding: 40px 20px;
    background: #EEF3F9;
}
.search-prop-form .search-form input, .search-prop-form .search-form select{
    width: 100%;
    outline: none;
    border:none;
    height: 44px;
    padding: 6px;
    font-size: 14px;
    color: #999999;
    border-radius: 5px;
}

.price-range-slider{
    color: #1F1F1F;
    position: relative;
}
.price-range-slider .price-range-slider-text{
    font-size: 14px;
}
.price-range-slider .price-range-slider-text p{
    font-size: 14px;
    margin: 0;
}
.price-range-slider .dual-range {
	--range-size:12px;
	--range-width:100%;
	--handle-size:1.6;
	height:var(--range-size);
	width:var(--range-width);
	background:var(--clr-box-dark);
	border-radius:50px;
	position:relative;
	user-select:none;
}
.dual-range	.highlight {
    position:absolute;
    height:var(--range-size);
    width:calc(calc(var(--x-2) - var(--x-1)) + calc(var(--range-size) * var(--handle-size)));
    left:var(--x-1);
    background: #3d4448;
    z-index:1;
    border-radius:50px;
}
	
.dual-range	 .handle {
    width:calc(var(--range-size) * var(--handle-size));
    height:calc(var(--range-size) * var(--handle-size));
    background:#fff;
    position:absolute;
    box-shadow:var(--shadow);
    border-radius:50%;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    cursor:grab;
}
.handle:active {
    cursor:grabbing;
}

.handle.left {
    left:var(--x-1);
}

.handle.right {
    left:var(--x-2);
}
.search-prop-form .search-form  .submit-btn-con {
    margin-top: auto;
}
.search-prop-form .search-form  .btn.btn-submit{
    width: 100%;
    height: 100%;
    max-height: 48px;
    background: #1f3f81;
    font-weight: 600;
    color: #fff;
}
.search-prop-form .search-form .btn.btn-submit:hover{
    background: #1F1F1F;
}

.show-more-item-con .group-button-search a{
    display: flex;
    align-items: center;
}
.search-prop-form .icon-1, .search-prop-form .icon-2{
    font-size: 22px;
    margin-right: 8px;
}
.search-prop-form .icon-2, .search-prop-form .text-2{
    display: none;
}
.search-prop-filters {
    padding: 20px;
}
.search-prop-filters .prop-filter .search-form-group input{
    width: 10px;
    height: 10px;
}
/* --------Property Listings section  */
.property-listings-section{
    padding: 20px 0 50px;
}
.property-listing-con{
    padding-top: 20px
}
.property-listing-con .prop-listing-items{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: space-between;
}
.property-listing-con .prop-listing-items h2{
    line-height: 0;
}
.prop-listing-items .prop-listing-item{
    width: 48%;
    margin: 10px 0;
}
 
.page-nav .pagination .page-link{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #1F1F1F;
    font-size: 16px;
    border-radius: 4px;
    display: inline-block;
    padding: 7px 14px;
    margin: 0 3px;
    transition: all 0.3s ;
}
.page-nav .pagination .page-link.active{
    background-color: #1F1F1F;
    color: #fff;
}
.page-nav .pagination .page-link:hover{
    background-color: #1F1F1F;
    color: #fff;
}
.page-nav .pagination .page-link:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

/* ===============================================
---------------- Projects Page styles ------------
=============================================== */
.latest-projects-sec .lat-proj-crsl-con{
    position: relative;
}
.lat-proj-crsl-con .slider-controls{
    position: absolute;
    top: -60px;
    right: 0;
}

.lat-proj-crsl-con .slider-controls .btn-proj-crsl{
    background:#fff;
    border:none;
    width: 42px; 
    height: 42px;
    border: 1px solid #d2d2d2;
    border-radius: 6px;
    color: #676767;
    
}
.featured-developers-sec{
    width: 100%;
    padding: 60px 0;
}
.featured-developers-sec .featured-devs .f-dev-item{
    position: relative;
}
.featured-devs .f-dev-item .item-content{
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.f-dev-item .f-dev-img{
    height: auto;
    max-height: 320px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.f-dev-item .f-dev-img img{
    width: 100%;
}
.f-dev-item .f-dev-details{
    padding: 15px 20px;
    width: 100%;
    height: 100%;
    background: rgba(31, 63, 129, 0.9);
    transition: all 0.4s;
    position: absolute;
    top: 75%;
    z-index: 3;
    left: 0;
}
.f-dev-item:hover .f-dev-details{
    top: 0;
}
.f-dev-item .f-dev-details h4{
    color: #fff;
    margin: 0;
}
.f-dev-item .f-dev-details p{
    color: #fff;
    font-size: 15px;
}
.f-dev-item .f-dev-bio{
    margin-bottom: 25px;
}
/* ==============================================
--------------------About Page Style-----------
============================================== */
/* --------------------About Banner Style----------- */
.about-banner.page-banner{
    background: url(../images/banner-img-1.jpg);
}
.about-tabs-sec{
    padding: 60px 0;
    background: #F5F7FB;
}
.about-tab:hover .about-tab-content{
    transform: scale(1.05);
}
.about-tabs-con .about-tab-content{
    box-shadow: 3px 5px 15px rgba(0,0,0,0.05), -3px -3px 15px rgba(0,0,0,0.05);
    padding: 35px 10px 35px 10px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    transform: scale(1);
    transition: all .3s;
}
.about-tabs .about-tab .item-icon i{
    left: 25px;
    top: 38px;
    font-size: 35px;
}
.about-tabs .about-tab .item-content .item-title{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}
.about-tabs .about-tab .item-content p, .about-tabs .about-tab .item-content a{
    font-size: 14px;
}
.about-tab h4, .about-tab span>p , .about-tab .icon{
    color: #1f3f81;
}
.about-tab .icon, .about-tab a.item-link{
    color: #3270FC;
}


/* --------------------About Story Style----------- */
.about-story{
    margin: 60px auto;
}
.about-story .container .row{
    align-items: center;
}
.about-story .story-content-heading .title{
    font-size: 30px;
    font-weight: bold;
    color: #1f3f81;
}
.about-story .story-content-heading .sub-title{
    font-size: 16px;
    font-weight: 400;
}
.about-story .story-content-para p{
    font-size: 15px;
    color: #878c9f;
}
.about-story .story-img img{
    padding: 20px;
}

/* --------------------Feature Style----------- */
.feature-area{
    padding: 80px 0 50px 0;
    background: #F5F7FB;
}
.feature-area .sub-title{
    color: #3270FC;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.feature-area .title-area {
    margin-bottom: 50px;
}
.feature-area .title{
    color: #1f3f81;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.feature-item{
    position: relative;
    border: 1px solid #f6f6f6;
    margin-bottom: 30px;
    padding: 40px 30px 35px;
    background: white;
    box-shadow: 3px 5px 15px rgba(0,0,0,0.05), -3px -3px 15px rgba(0,0,0,0.05);
    border-radius: 5px;
}
.feature-item .feature-item-icon{
    margin-bottom: 20px;
}
.feature-item .feature-info .title a:hover{
    color: #1f3f81;
    transition: all ease-in-out 0.3s;
}
.feature-item .feature-info .title a{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.feature-item .feature-info p{
    font-size: 14px;
}
.feature-item .feature-info .feature-btn{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #3270FC;
}
.feature-item .feature-info .feature-btn:hover{
    color: #1f3f81;
    transition: all 0.3s;
}
.feature-item span.bottom-line{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background: #3270FC;
    width: 0;
    transition: all .3s;
}
.feature-item:hover span.bottom-line{
    width: 100%;
}

/* --------------------Testimonals Section Style----------- */
#testominal-slider{
    padding: 0 30px;
    margin: 50px auto;
}
#testominal-slider .heading .title{
    font-size: 42px;
    font-weight: 700;
}
#testominal-slider .heading .sub-title{
    font-size: 11px;
    font-weight: 700;
    color: #adb5bd;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
#testominal-slider .test-slider-item{
    margin: 50px 0 30px 0;
}
#testominal-slider .test-slider-item .text-img-box img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#testominal-slider .test-slider-item .test-slide-title .cst-position{
    font-size: 14px;
    line-height: 2;
    margin-top: 0 ;
}
#testominal-slider .test-slider-item .test-slide-title .cst-name{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
 #testominal-slider .test-slider-item .test-slide-heading blockquote{
    font-size: 20px;
    line-height: 2;
}
 #testominal-slider .test-slider-item .test-slide-title{
    margin-bottom: 30px;
}

/* ---Accordion Style------------ */
#testominal-slider .acc-heading .acc-title{
    font-size: 42px;
    font-weight: 700;
}
#testominal-slider .acc-heading .acc-sub-title{
    font-size: 11px;
    font-weight: 700;
    color: #adb5bd;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
#testominal-slider .accordion .accordion-header button.accordion-button{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
#testominal-slider .accordion .accordion-body .acc-text{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 2;
}
#testominal-slider .accordion .accordion-header:focus{
    box-shadow: none;
}
/* --------------------CTA Section Style----------- */

.cta-section{
    padding: 50px 0;
    background: #3270FC;
}
.cta-section .cta-wrap{
    align-items: center;
}
.cta-section .cta-wrap-heading h3, .cta-section .cta-wrap-heading span{
    color: white;
}
.cta-section .cta-wrap-heading h3{
    font-size: 35px;
}
.cta-section .cta-wrap-heading span{
    font-size: 14px;
}
.cta-section .cta-wrap .btn.contact-us{
    background: #ffffff;
    padding: 18px 40px;
    border: none;
    /* border-radius: 50px; */
    color: #1f3f81;
    
    /* box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 20%);
    -webkit-box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 20%); */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}
.cta-section .cta-wrap .btn.contact-us p{
    font-weight: 600;
    margin: 0;
    z-index: 2;
    transition: all .3s;
}
.cta-section .cta-wrap .btn.contact-us span i{
    margin-left: 6px;
}
.cta-section .cta-wrap .btn.contact-us .bg-span{
    position: absolute;
    width: 0;
    height: 100%;
    background: #1f3f81;
    z-index: 1;
    top: 0;
    left: 0;
    /* transform: scale(1); */
    transition: all .3s;
}
.cta-section .cta-wrap .contact-us:hover .bg-span{
    /* transform: scale(1.05); */
    width: 100%;
}
.cta-section .cta-wrap .contact-us:hover p{
    color: #fff;
}
/* ===============================================
---------------- ContactPage styles --------------
=============================================== */
.contact-tabs-sec{
    padding: 60px 0;
    background: #F5F7FB;
}

.contact-tabs .contact-tab{
    margin: 15px auto;
}
.contact-tabs .contact-tab .cont-tab-content{
    box-shadow: 3px 5px 15px rgba(0,0,0,0.05), -3px -3px 15px rgba(0,0,0,0.05);
    padding: 35px 10px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #eee;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    transform: scale(1);
    transition: all .3s;
    height: 100%;
}
.contact-tabs-con .contact-tabs .contact-tab:hover .cont-tab-content{
    transform: scale(1.03);
}
.cont-tab-content .cont-tab-icon svg{
    margin: 20px 0;
    width: 20%;
    color: #3270FC;
}
.cont-tab-content .cont-tab-details h4{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #1f3f81;
}
.cont-tab-content .cont-tab-details p{
    font-size: 14px
}
.contact-form-sec{
    padding: 50px 0;
}
.contact-form-con .contact-form input, .contact-form-con .contact-form select, .contact-form-con .contact-form textarea{
    width: 100%;
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    height: 55px;
    margin-bottom: 30px;
    padding: 12px;
    outline: none;
}
.contact-form-con .contact-form .col-sm-6{
    padding: 0 6px !important;
}
.contact-form-con .contact-form textarea{
    width: calc(100% - 12px);
    height:200px;
}
.contact-form select{
    cursor: pointer;
}
.contact-form .btn-submit input{
    background: #1f3f81;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}




/* ==============================================
--------------------Fotter Style-----------------
============================================== */
footer{
    background-color: #1f3f81;
}
.footer .contactfields{
    background: #173471;
}
.footer .contactfields .info-box{
    margin: 20px 0;
    padding: 0 15px;
    position: relative;
    display: inline-block;
    text-align: left;
}
.footer .contactfields .info-box .icon > img{
    width: 34px;
    justify-content: center;
    vertical-align: middle;
    margin-bottom: 10px;
}
.footer .contactfields .info-box ul{
    display: block;
}
.footer  ul > li, .footer ul > li > strong, .footer  ul > li > a{
    color: #fff;
    
}
.footer .contactfields .info-box ul > li > a{
    position: relative;
    line-height: 20px;
    font-size: 14px;
}
.footer .fotterpaddingtop{
    padding-top: 80px;
}
.footer .fotterpaddingtop .footer-widget{
    margin-bottom: 30px;
}
.footer .footer-widget1 .logo{
    display: inline-block;
}
.footer .footer-widget1 .logo , .footer .footer-widget .heading{
    margin-bottom: 30px;
}
.footer .footer-widget .heading{
    padding-bottom: 8px;
    border-bottom: 1px solid #6379a7;
}
.footer .footer-widget1 .mb15{
    margin-bottom: 15px;
}
.footer .footer-widget1 p, .footer .footer-widget4 p{
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.footer h4, .footer ul.links li > a{
    color: #fff;
    font-family: 'Roboto', sans-serif;

}
.footer ul.links li{
    margin-bottom: 10px;
}
.footer ul.links li > a{
    font-size: 15px;
    display: block;
}
.footer ul.links li > a > i{
    margin-right:2px;
    height:2px; width:0;
    background:#FFD119;
    display:inline-block; 
    vertical-align:middle; 
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in-out .3s;
}
ul.links li a:hover i{ 
    width:6px;
}
.footer ul.links li a:hover, .footer ul.links li a:focus , .footer .footer-widget3 .icon a:hover{
    color: #FFD119;
}
.footer .footer-widget3 .icon i{
    vertical-align: middle;
    margin-right: 1rem;
    margin-top: 3px;
}
.footer .footer-widget3 .icon i , .footer .footer-widget3 .icon p , .footer .footer-widget3 .icon a{
    color: #fff;
}
.footer .footer-widget3 .icon p , .footer .footer-widget3 .icon a{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;    
}
.footer .footer-widget4 .footer-form{
    margin-top: 40px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.footer .footer-widget4 .footer-form .subscribefield {
    border: medium none;
    color: #dbdbdb;
    font-size: 12px;
    height: 40px;
    padding-left: 15px;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}
.footer .footer-widget4 .footer-form .footersubmit-btn{
    background: #ffd119;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 22px;
    position: absolute;
    top: 0;
    right: 0;
}
.footer .footer-widget4 .footer-form .footersubmit-btn:hover{
    color: #1f3f81;
}
.footer .copyright{
    border-top: 1px solid #6379a7;
    padding: 12px 0;
}
.footer .copyright ul.social_share, .footer .copyright ul.social_share li{
    display: inline-block;
}
.footer .copyright ul.social_share li > a > i{
    font-size: 35px;
    color: #fff;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
    transition: all .3s ease-in-out ;
}
.footer .copyright ul.social_share li > a > i:hover{
    color: #ffd119;
}
.footer .copyright p.copyright-text{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}