/* ============================================
-----------------Page-1 Styles--------------
============================================ */
@media (max-width: 1080px) {
  .p1-content-con .p1-text h2 {
    font-size: 5vw;
    line-height: 5.7vw;
  }
  .p1-content-con .main-logo {
    width: 100%;
  }
  .p1-content-con .main-logo img {
    width: 30%;
  }
  .p1-content-con .p1-text {
    margin-top: 8%;
  }
  .p1-content-con .brand-box {
    width: 25vw;
    height: 80px;
  }
}
@media (max-width: 992px) {
  .p1-content-con .p1-text h2 {
    font-size: 7vw;
  }
  .p1-content-con .main-logo {
    width: 100%;
  }
  .p1-content-con .main-logo img {
    width: 40%;
  }
  .p1-content-con .p1-text {
    margin-top: 8%;
  }

  .p1-content-con .brand-box {
    width: 25vw;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .p1-content-con .p1-text h2 {
    font-size: 8vw;
  }
  .page1-wrapper .p1-content-con {
    padding-top: 10%;
  }
  .p1-content-con .main-logo {
    width: 100%;
  }
  .p1-content-con .main-logo img {
    width: 40%;
  }
  .p1-content-con .p1-text {
    margin-top: 10%;
  }
  .p1-content-con .brand-box {
    width: 30vw;
    height: 60px;
  }
}
@media (max-width: 500px) {
  .p1-content-con .p1-text h2 {
    font-size: 12vw;
    line-height: 13vw;
  }
  .page1-wrapper .p1-content-con {
    padding-top: 10%;
  }
  .p1-content-con .main-logo {
    width: 100%;
  }
  .p1-content-con .main-logo img {
    width: 70%;
  }
  .p1-content-con .p1-text {
    margin-top: 20%;
  }
  .p1-content-con .brand-box {
    width: 35vw;
    height: 40px;
  }
}

/* ============================================
-----------------Page-2 Styles--------------
============================================ */
@media (max-width: 500px) {
  .p2-wrapper {
    width: 100%;
    height: auto;
  }
  .p2-wrapper .p2-content-con {
    width: 100%;
    height: 100%;
  }
  .p2-content-con .section-title h3 {
    font-size: 3vw;
    line-height: 3.3vw;
  }
  .p2-content-con .section-img {
    height: 70vh;
  }
}
/* ============================================
-----------------Page-3 Styles--------------
============================================ */
@media (max-width: 500px) {
  .p3-wrapper {
    width: 100%;
    height: auto;
  }
  .p3-wrapper .p3-content-con {
    width: 100%;
    height: auto;
  }
  .p3-content-con .p3-section-1 {
    height: 20vh;
    background: #2e3a6e;
    padding: 0;
  }
  .p3-content-con .p3-section-1 h2 {
    font-size: 5vw;
  }
  .p3-content-con .p3-section-2 {
    height: auto;
    padding: 9% 1%;
  }
  .p3-section-2 .p3-table {
    padding: 0;
  }
  .p3-content-con .p3-section-2 .table td {
    font-size: 3vw;
  }
}
/* ============================================
-----------------Page-4 Styles--------------
============================================ */
@media (max-width: 1080px) {
  .p4-section-2 .p4-sec2-content .p4-sec2-table-con .p4-sec2-stip img {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .p4-content-con p {
    font-size: 1vw;
    line-height: 1.3vw;
  }
  /* ------------p4-section 1--------------- */
  .p4-section-1 .p4-sec1-header {
    height: 4vh;
    background: #2e3a6e;
  }
  /* ---------------p4 section 2------------------- */
  .p4-section-2 .p4-sec2-content p span {
    font-size: 1.3vw;
    line-height: 1.6vw;
    font-weight: bold;
  }
  .p4-section-2 .p4-sec2-content .p4-sec2-table-con .p4-sec2-stip img {
    width: 80%;
  }
  .p4-section-2 .p4-sec2-content .table .table-item-icon img {
    width: 100%;
  }
  .p4-section-2 .p4-sec2-content .table .table-item-text {
    padding-left: 0;
  }
  .p4-section-2 .p4-sec2-content .table .table-item-text p {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .p4-content-con p {
    font-size: 1.8vw;
    line-height: 2.2vw !important;
    margin: 5px 0;
  }
  /* ------------p4-section 1--------------- */
  .p4-section-1 .p4-sec1-header {
    height: 8vh;
  }
  .p4-section-1 .p4-sec1-title h2 {
    font-size: 4vw;
    line-height: 4.5vw;
  }
  /* ---------------p4 section 2------------------- */
  .p4-section-2 {
    height: auto;
    padding: 5% 8%;
  }
  .p4-section-2 .p4-sec2-title {
    padding: 4% 0;
    border-bottom: 1px solid #2e3a6e;
  }
  .p4-section-2 .p4-sec2-title .p4-title-icon img {
    width: 90%;
  }
  .p4-section-2 .p4-sec2-title .p4-sec2-title-text h3 {
    font-size: 3vw;
    line-height: 3.5vw;
  }
  .p4-section-2 .p4-sec2-content p span {
    font-size: 1.8vw;
    line-height: 2vw;
    font-weight: bold;
  }
  .p4-section-2 .p4-sec2-content .p4-sec2-table-con {
    padding-left: 0;
  }
  .p4-section-2 .p4-sec2-content .p4-sec2-table-con .table {
    padding-left: 0;
  }
  .p4-section-2 .p4-sec2-content .p4-sec2-table-con .p4-sec2-stip {
    position: absolute;
    left: 0%;
    top: -0.5%;
    z-index: 1;
    padding-left: 0;
  }
  .p4-section-2 .p4-sec2-content .p4-sec2-table-con .p4-sec2-stip img {
    width: 90%;
  }
}

/* ============================================
-----------------Page-5 Styles--------------
============================================ */
@media (max-width: 500px) {
  .p5-wrapper {
    width: 100%;
    height: 100vh;
  }
  .p5-wrapper .p5-content-con {
    width: 100%;
    height: 100%;
  }
  .p5-content-con .p5-section-1 {
    height: 20%;
  }
  .p5-section-1 .p5-title h2 {
    font-size: 4vw;
    line-height: 4.7vw;
  }
  .p5-content-con .p5-section-2 {
    height: 80%;
  }
}
/* ============================================
-----------------Page-6 Styles--------------
============================================ */
@media (max-width: 576px) {
  .p6-wrapper {
    width: 100%;
    height: auto;
  }
  .p6-wrapper .p6-content-con {
    width: 100%;
    height: 100%;
  }
  .p6-section-1 .p6-sec1-item .p6-sec1-item-detail p {
    font-size: 2.4vw;
    font-weight: 700;
  }
  .p6-section-1 .p6-sec1-header .p6-sec1-title h2 {
    font-size: 4vw;
    line-height: 3vw;
  }
  .p6-section-1 .p6-sec1-header .p6-sec1-title h3 {
    font-size: 3vw;
    line-height: 1.8vw;
  }
  .p6-section-1 .p6-sec1-item .p6-sec1-item1-list li {
    margin: 5px 0;
    font-size: 2.6vw;
  }
  .p6-section-1 .p6-sec1-item.item-3 {
    margin-bottom: 10px !important;
  }
  .p6-section-1 .p6-sec1-item .p6-sec1-item1-list li .list-item-1 {
    height: 2vw;
    padding: 0 1.4vw;
    background: #2e3a6e;
  }
  .p6-section-1 .p6-sec1-item .p6-sec1-item1-list li .list-item-2 {
    height: 2vw;
    padding: 0 1.4vw;
    background: #3a7ec0;
  }
  .p6-section-1 .p6-sec1-item .p6-sec1-item1-list li .list-item-3 {
    height: 2vw;
    padding: 0 1.4vw;
    background: #00afef;
  }
  .p6-section-1 .p6-sec1-item .p6-sec1-item1-list li .list-item-4 {
    height: 2vw;
    padding: 0 1.4vw;
    background: #b4b22f;
  }
  /* ------------p6 section 2------------ */
  .p6-content-con .p6-section-2 {
    padding: 6% 2%;
    background: #3a7ec0;
    color: #fff;
  }
  .p6-content-con .p6-section-2 .p6-sec2-header h3 {
    font-size: 2.8vw;
    line-height: 3vw;
  }
  .p6-content-con .p6-section-2 .p6-sec2-items .p6-sec2-item .item-perc span {
    width: 12vw;
    height: 12vw;
  }
  .p6-content-con
    .p6-section-2
    .p6-sec2-items
    .p6-sec2-item
    .item-perc
    span
    h4 {
    font-size: 3vw;
  }
  .p6-content-con .p6-section-2 p {
    font-size: 2vw;
    line-height: 2.6vw;
  }

  /* ------------p6 section 3------------ */
  .p6-content-con .p6-section-3 {
    padding: 10% 0 0;
  }
  .p6-section-3 .p6-sec3-title {
    margin-bottom: 2vw;
    height: auto;
  }
  .p6-section-3 .p6-sec3-title h3 {
    font-size: 3vw;
    margin-bottom: 1.5vw;
  }
  .p6-section-3 .p6-sec3-title p {
    font-size: 2vw;
    margin-bottom: 2.5vw;
  }
  .p6-section-3 .p6-sec3-items {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .p6-section-3 .p6-sec3-items .p6-sec3-item h4 {
    font-size: 6vw;
    font-weight: 500;
  }
  .p6-section-3 .p6-sec3-items .p6-sec3-item p {
    font-size: 2vw;
    line-height: 2.5vw;
  }
  .p6-section-3 .p6-sec3-items .p6-sec3-item.item-2 {
    position: relative;
    width: 100%;
    left: 0;
  }
  .p6-section-3 .p6-sec3-items .p6-sec3-item.item-4 {
    position: relative;
    width: 100%;
    left: 0;
  }
  .p6-section-3 .p6-sec3-items .p6-sec3-item.item-5 {
    margin-bottom: 0;
  }
  .p6-section-3 .p6-sec3-items .p6-sec3-item.item-6 {
    margin: 0;
    position: relative;
    background: #b4b22f;
    padding: 8% 3%;
    width: 100%;
    left: 0;
  }
}
/* ============================================
-----------------Page-6 Styles--------------
============================================ */
@media (max-width: 768px) {
  .p7-wrapper {
    width: 100%;
    height: auto;
  }
  .p7-wrapper .p7-content-con {
    width: 100%;
    height: 100%;
  }
  /* ------p7 section 2---------- */
  .p7-section-2 .p7-sec2-item .item-con .item-icon {
    margin: 0;
  }
  .p7-section-2 .p7-sec2-item .item-con .item-icon img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .p7-wrapper {
    width: 100%;
    height: auto;
  }
  .p7-wrapper .p7-content-con {
    width: 100%;
    height: 100%;
  }
  .p7-content-con .p7-section-1 .p7-sec1-title .title-icon img {
    width: 70%;
  }

  .p7-content-con .p7-section-1 .p7-sec1-title .title-text {
    padding-left: 0;
  }
  .p7-content-con .p7-section-1 .p7-sec1-title .title-text h2 {
    font-size: 6vw;
    line-height: 6.5vw;
  }
  .p7-content-con .p7-section-1 .p7-sec1-items .p7-sec1-item .item-perc h4 {
    font-size: 5vw;
  }
  .p7-content-con .p7-section-1 .p7-sec1-items .p7-sec1-item .item-text p {
    font-size: 2vw;
    line-height: 2.6vw;
  }
  /* ---------------------P7 section 2------------------- */
  .p7-content-con .p7-section-2{
    padding: 0 1%;
  }
  .p7-content-con .p7-section-2 .p7-sec2-item {
    background: #3a7ec0;
    padding: 3%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    height: auto;
  }
  .p7-section-2 .p7-sec2-item .item-con {
    padding: 4% 0;
    height: auto;
  }
  .p7-section-2 .p7-sec2-item .item-con .item-perc{
    margin: 5% 0;
   }
   .p7-section-2 .p7-sec2-item .item-con .item-perc h4{
     font-size: 6vw;
   }
   .p7-section-2 .p7-sec2-item .item-con .item-text{
    margin: 3% 0;
   }
   .p7-section-2 .p7-sec2-item .item-con .item-text p{
   font-size: 2.2vw;
   line-height: 3vw;
   text-align: center;
   }
   /* ----------------------P7 Section 3-------------- */
.p7-content-con .p7-section-3{
  width: 100%;
  height: auto;
}
.p7-section-3 .p7-sec3-title .title-icon img{
  width: 80%;
}
.p7-section-3 .p7-sec3-title .title-text h2{
  color: #2E3A6E;
  font-size: 4.6vw;
  line-height: 4vw;
}
.p7-section-3 .p7-sec3-img img{
  width: 90%;
  margin: auto;
}
.p7-section-3 .p7-sec3-row-1{
  padding: 2%;
}
.p7-section-3 .p7-sec3-row-1 .row-item.item-1 .color-box{
  width: 2vw;
  height: 2vw;
  display: flex;
  background: #3A7EC0;
}
.p7-section-3 .p7-sec3-row-1 .row-item.item-2 .color-box{
  width: 2vw;
  height: 2vw;
  display: flex;
  background: #2E3A6E;
}
.p7-section-3 .p7-sec3-row-1 p{
 font-size: 1.5vw;
 line-height: 2vw;
}
.p7-section-3 .p7-sec3-row{
  padding: 4% 0;
  color: #fff;
}
.p7-section-3 .p7-sec3-row .row-item .item-perc h4{
  font-size: 4vw;
}
.p7-section-3 .p7-sec3-row .row-item .item-text p{
  font-size:2vw;
  line-height: 2.5vw;
}
.p7-section-3 .p7-sec3-row.row-5 .row-item .item-perc{
  margin: 7% 0;
  text-align: center;
}
}
/* ============================================
-----------------page-8 Styles--------------
============================================ */
@media (max-width:576px){
  .p8-wrapper {
    width: 100%;
    height: auto;
  }
  .p8-wrapper .p8-content-con{
    width: 100%;
    height:100%;
  }
  .p8-wrapper .p8-content-con .p8-header{
    padding: 4%;
  }
  .p8-wrapper .p8-content-con .p8-header h2{
    font-size: 4vw;
  }
  /* ---------------------P 8 Section 1------------- */
  .p8-content-con .p8-section-1 .p8-sec1-item.item-1{
    padding: 4% 2%;
  }
  .p8-content-con .p8-section-1 .p8-sec1-item.item-1 .item-perc h4{
    font-size: 5vw;
  }
  .p8-content-con .p8-section-1 .p8-sec1-item.item-1 .item-text p{
    font-size: 2vw;
    line-height: 2.5vw;
  }
  .p8-content-con .p8-section-1 .p8-sec1-item2-title p{
    font-size: 2vw;
    line-height: 2.6vw;
  }

  .p8-section-1 .p8-sec1-item.item-2 .p8-sec1-comnt-box .comnt-item h3{
    font-size: 2.6vw;
    line-height: 3vw;
    margin-bottom: 5px;
  }
  .p8-section-1 .p8-sec1-item.item-2 .p8-sec1-comnt-box .comnt-item p{
    font-size: 1.7vw;
    line-height: 2vw;
  }
  .p8-section-1 .p8-sec1-item.item-2 .item-profile .profile-title h3{
    font-size: 2vw;
    line-height: 2vw;
  }
  .p8-section-1 .p8-sec1-item.item-2 .item-profile .profile-title h4{
    font-size: 1.8vw;
  }
  /* -----------------P8 section 2 --------------- */
  .p8-section-2 .p8-sec2-item.item-1 .p8-sec2-comnt-box{
    padding: 8% 0 20%;
    background-size: 85%;
  }
  .p8-section-2 .p8-sec2-item.item-1 .p8-sec2-comnt-box .comnt-item h3{
    font-size: 2.6vw;
    line-height: 3vw;
    margin-bottom: 5px;
  }
  .p8-section-2 .p8-sec2-item.item-1 .p8-sec2-comnt-box .comnt-item p{
    font-size: 1.7vw;
    line-height: 2vw;
  }
  .p8-section-2 .p8-sec2-item.item-1 .item-profile .profile-title h3{
    font-size: 2vw;
    line-height: 2vw;

  }
  .p8-section-2 .p8-sec2-item.item-1 .item-profile .profile-title h4{
    font-size: 1.8vw;
  }
}
/* ============================================
-----------------page-9 Styles--------------
============================================ */
@media (max-width:768px){
   /* --------------p9 section 2------------ */
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-1{
    padding: 1% 4%;
    border-radius: 10px;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-1 .item-row.row-2{
    padding-left: 0 ;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item .item-text p{
    font-size: 0.55vw;
    font-weight: 500;
  }
  /* ----------p9 section2 item 2---------------- */
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2{
    padding: 3% 4%;
    border-radius: 10px;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item.item-2 .comnt-box{
    padding-top: 2%;
    padding-bottom: 0%;
  }
   /* ----------p9 section2 item 3---------------- */
   .p9-section-2 .p9-sec2-items .p9-sec2-item.item-3{
    border-radius: 10px;
  }
}
@media (max-width:576px){
   /* --------------p9 section 1------------ */
  .p9-section-1 .p9-sec1-items .p9-sec1-item{
    height:6vh;
  }
  .p9-section-1 .p9-sec1-items .p9-sec1-item .item-perc h4{
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
   }
   .p9-section-1 .p9-sec1-items .p9-sec1-item .item-text p{
    font-size: 1.6vw;
    line-height: 2vw;
   }
  
   /* --------------p9 section 2------------ */
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-1{
    padding: 1% 4%;
    border-radius: 10px;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-1 .item-row .item-perc h4{
    font-size: 2.4vw;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-1 .item-row .item-text p{
    font-size: 1.6vw;
    line-height: 1.8vw;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-1 .item-row.row-2{
    padding-left: 0 ;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item .item-text p{
    font-size: 0.55vw;
    font-weight: 500;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item.item-2 .comnt-box{
    padding-top: 2%;
    padding-bottom: 0%;
  }

  /* -----------p9 section 2 item 2-------------- */
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item{
    margin-bottom: 3% !important;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item .item-text p{
    font-size: 1.2vw;
    line-height: 1.7vw;
    font-weight: 500;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item .item-profile .profile-title h3{
    font-size: 1.7vw;
    line-height: 2vw;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item .item-profile .profile-title h4{
    font-size: 1.3vw;
    line-height: 2vw;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item.item-1{
    padding: 2% 0;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item.item-1 .item-perc h4{
    font-size: 4vw;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item.item-2 .comnt-box{
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item.item-3 .comnt-box{
    padding-top: 2%;
    padding-bottom: 4%;
    left: 5%;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item.item-5 .comnt-box{
    padding-top: 2%;
    padding-bottom: 4%;
    left: 10%;
  }

  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-2 .p9-sec2-item2-item.item-6 .comnt-box{
    padding-top: 4%;
    padding-bottom: 5.5%;
    left: -6%;
  }
  /* -------------p9 section2 item 3----------------- */
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-3 .p9-sec3-item3-item .item-perc h4{
    font-size: 5vw;
  }
  .p9-section-2 .p9-sec2-items .p9-sec2-item.item-3 .p9-sec3-item3-item .item-text p{
    font-size: 1.5vw;
    line-height: 2vw;
  }
}
/* ============================================
-----------------page-10 Styles--------------
============================================ */
@media (max-width:576px){
  .p10-wrapper .p10-content-con .p10-header{
    padding: 3% 2%;
  }
  .p10-wrapper .p10-content-con .p10-header .p10-title h2{
    font-size: 4vw;
    line-height: 5vw;
    color: #2E3A6E;
  }
  /* ---------------------P 10 Section 1------------- */
  .p10-content-con .p10-section-1{
    width: 100%;
    height: 100%;
    padding: 3% 0; 
  }
  .p10-content-con .p10-section-1 .p10-sec1-item .comnt-box{
    background: url('../images/page-8/commentBox-1.png');
    background-size: 80%;
    background-position: top left ;
    background-repeat: no-repeat;
    padding: 15% 5% 26%;
  }
  .p10-content-con .p10-section-1 .p10-sec1-item .comnt-box p{
    width: 75%;
    font-size: 2vw;
    line-height: 2.4vw;
  }
  .p10-content-con .p10-section-1 .p10-sec1-item .item-profile .profile-img img{
   width: 80%;
  }
  .p10-content-con .p10-section-1 .p10-sec1-item .item-profile .profile-title{
    padding-left: 0;
  }
  .p10-content-con .p10-section-1 .p10-sec1-item .item-profile .profile-title h3{
   font-size: 2.3vw;
   line-height: 2.6vw;
  }
  .p10-content-con .p10-section-1 .p10-sec1-item .item-profile .profile-title h4{
   font-size: 2vw;
   line-height: 2.6vw;
  }
  /* ---------------------P 10 Section 2------------- */
  .p10-content-con .p10-section-2{
    width: 100%;
    height: 100%;
    padding: 3% 0 0 20% ; 
  }
  .p10-content-con .p10-section-2 .p10-sec1-item .comnt-box{
    background: url('../images/page-8/commentBox-1.png');
    background-size: 90%;
    background-position: top left ;
    background-repeat: no-repeat;
    padding: 15% 0 26% 5%;
  }
  .p10-content-con .p10-section-2 .p10-sec1-item .comnt-box p{
    width: 75%;
    font-size: 2vw;
    line-height: 2.4vw;
  }
  .p10-content-con .p10-section-2 .p10-sec1-item .item-profile .profile-img img{
   width: 80%;
  }
  .p10-content-con .p10-section-2 .p10-sec1-item .item-profile .profile-title{
    padding-left: 0;
  }
  .p10-content-con .p10-section-2 .p10-sec1-item .item-profile .profile-title h3{
   font-size: 2.3vw;
   line-height: 2.6vw;
  }
  .p10-content-con .p10-section-2 .p10-sec1-item .item-profile .profile-title h4{
   font-size: 2vw;
   line-height: 2.6vw;
  }
  /* ---------------------P 10 Section 3------------- */
  .p10-content-con .p10-section-3{
    width: 100%;
    height: 100%;
    padding: 3% 0; 
  }
  .p10-content-con .p10-section-3 .p10-sec1-item .comnt-box{
    background: url('../images/page-8/commentBox-1.png');
    background-size: 80%;
    background-position: top left ;
    background-repeat: no-repeat;
    padding: 15% 5% 26%;
  }
  .p10-content-con .p10-section-3 .p10-sec1-item .comnt-box p{
    width: 75%;
    font-size: 2vw;
    line-height: 2.4vw;
  }
  .p10-content-con .p10-section-3 .p10-sec1-item .item-profile .profile-img img{
   width: 80%;
  }
  .p10-content-con .p10-section-3 .p10-sec1-item .item-profile .profile-title{
    padding-left: 0;
  }
  .p10-content-con .p10-section-3 .p10-sec1-item .item-profile .profile-title h3{
   font-size: 2.3vw;
   line-height: 2.6vw;
  }
  .p10-content-con .p10-section-3 .p10-sec1-item .item-profile .profile-title h4{
   font-size: 2vw;
   line-height: 2.6vw;
  }
}
/* ============================================
-----------------Page-11 Styles--------------
============================================ */
@media (max-width: 500px) {
  .p11-wrapper {
    width: 100%;
    height: 100vh;
  }
  .p11-wrapper .p11-content-con {
    width: 100%;
    height: 100%;
  }
  .p11-content-con .p11-section-1 {
    height: 20%;
  }
  .p11-section-1 .p11-title h2 {
    font-size: 4vw;
    line-height: 4.7vw;
  }
  .p11-content-con .p11-section-2 {
    height: 80%;
  }
}
/* ============================================
-----------------Page-12 Styles--------------
============================================ */
@media (max-width: 576px) {
  /* ------------p12 section 1---------- */
  .p12-content-con .p12-section-1{
    padding: 3% 4% 3% 6%;
    align-items: center;
  }
  .p12-content-con .p12-section-1 .p12-sec1-items .p12-sec1-row p{
    font-size: 2vw;
    line-height: 2.2vw;
    margin: 5% 0;
  }
  .p12-content-con .p12-section-1 .p12-sec1-items .p12-sec1-row h4{
    font-size: 3.4vw;
    line-height: 4vw;
    margin: 4% 0;
  }
  .p12-content-con .p12-section-1 .p12-sec1-items .p12-sec1-row.row-3 .row-item .item-icon img{
    width: 100%;
  }
  .p12-content-con .p12-section-1 .p12-sec1-items .p12-sec1-row.row-3 .row-item .item-text p{
    font-size:1vw;
  }
  
  /* -----------------Page-12 Section 2-------------- */

.p12-content-con .p12-section-2{
  height: auto;
  color:#2E3A6E;
  padding: 3%  3% 0 6%;
  align-items: center;
}
.p12-section-2 .p12-sec1-items .p12-sec2-item{
  height: auto;
  color:#2E3A6E;
  padding: 2% 2%;
  align-items: center;
}
.p12-section-2 .p12-sec1-items .p12-sec2-item .item-perc {
  padding-left: 0;
}
.p12-section-2 .p12-sec1-items .p12-sec2-item .item-perc span{
  width: 10vw;
  height: 10vw;
}
.p12-section-2 .p12-sec1-items .p12-sec2-item .item-perc h4{
  font-size: 3vw;
}
.p12-section-2 .p12-sec1-items .p12-sec2-item .item-text p{
  font-size: 1.3vw;
  line-height: 1.8vw;
}
}
/* ============================================
-----------------Page-13 Styles--------------
============================================ */
@media (max-width:576px){
  .p13-wrapper {
    width: 100%;
    height: auto;
  }
  .p13-wrapper .p13-content-con{
    width: 100%;
    height:100%;
  }
  /* ----------p13 section-1-------------- */
.p13-content-con .p13-section-1{
  background-position:  top;
  padding-top: 5% !important;
  position: relative;
}
/* ----------p13 section-1  item-1-------------- */
.p13-section-1 .p13-sec1-item.item-1 .sec1-item1-items .item-row.row-1 p{
 font-size: 2vw;
}
.p13-section-1 .p13-sec1-item.item-1{
  padding: 0;
}
.p13-section-1 .p13-sec1-item.item-1 .sec1-item1-items{
  padding: 8% 8%;
}
.p13-section-1 .p13-sec1-item.item-1 .sec1-item1-items .item-row p{
  font-size: 1.6vw;
  line-height: 2vw;
}
.p13-section-1 .p13-sec1-item.item-1 .sec1-item1-items .item-row h4{
  font-size: 4vw;
  line-height: 4.3vw;
}
/* ----------p13 section-1  item-2-------------- */
.p13-section-1 .p13-sec1-item.item-2{
  padding: 15% 0 0;
  margin-bottom: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2E3A6E;
}
.p13-section-1 .p13-sec1-item.item-2 h2{
  font-size: 4vw;
  line-height: 4.3vw;
}
.p13-section-1 .p13-sec1-item.item-2 p{
  width: 50%;
  font-size: 1.8vw;
  line-height: 2vw;
}
/* ----------p13 section-1  item-2-------------- */
.p13-section-1 .p13-sec1-item.item-3{
  padding: 5% 0 0;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p13-section-1 .p13-sec1-item.item-3 .p13-sec1-item3-list{
  padding: 2% 0;
  width: 60%;
  margin-bottom: 5%;
  border-bottom: 1px solid #fff;
}
.p13-section-1 .p13-sec1-item.item-3 .p13-sec1-item3-list li{
  font-size: 1.8vw;
  line-height: 2.3vw;
}
.p13-section-1 .p13-sec1-item.item-3 .sec1-item3-item-row h4{
  font-size: 4vw;
}
.p13-section-1 .p13-sec1-item.item-3 .sec1-item3-item-row p{
  font-size: 1.6vw;
  line-height: 2vw;
}
/* ----------p13 section-2-------------- */
.p13-section-2{
  padding: 3% 3% 8%;
}
.p13-section-2 .p13-sec2-title h2{
  font-size: 4vw;
}
.p13-section-2 .p13-sec2-item.item-2{
  padding: 3%;
}
.p13-section-2 .p13-sec2-item.item-2 .row-item p{
  font-size: 1.8vw;
  line-height: 2.1vw;
}
.p13-section-2 .p13-sec2-item.item-2 .row-item .color-box{
  width: 2vw;
  height: 2vw;
  padding: 1vw;
  margin-right: 2%;
}
.p13-section-2  .p13-sec2-item2-item  .item-title h3{
  font-size: 2vw;
  line-height: 2.4vw;
  font-weight: bold;
  color: #2E3A6E;
}
.p13-section-2 .p13-sec2-item.item-2 .row-item h4{
  font-size: 4vw;
  line-height: 4.1vw;
}
.p13-section-2  .p13-sec2-item2-item.item-4 {
  padding: 2% 1% ;
  
}
.p13-section-2  .p13-sec2-item2-item.item-4 .row-item{
  padding: 3% 1% ;
}
}
/* ============================================
-----------------Page-14 Styles--------------
============================================ */
@media (max-width:576px){
  /* ----------p14 section-1-------------- */
.p14-section-1  .p14-sec1-item.item-1 .item-title {
  padding: 5% 2%;
}
.p14-section-1  .p14-sec1-item.item-1 .item-title h2{
  font-size: 4vw;
}
.p14-section-1  .p14-sec1-item.item-1 .row-item .item-perc h4{
  font-size: 6vw;
}
.p14-section-1  .p14-sec1-item.item-1 .row-item .item-text p{
  font-size: 2vw;
  line-height: 2.4vw;
}
/* ----------p14 section-1 item 2-------------- */
.p14-section-1 .p14-sec1-item.item-2 .row-item{
  padding: 0 1%;
}
.p14-section-1 .p14-sec1-item.item-2 .item-text{
  height: 40vw;
  padding: 5% 4%;
  border-radius: 20px;
}
.p14-section-1 .p14-sec1-item.item-2 .item-text p{
  font-size: 2vw;
  line-height: 2.4vw;
}
.p14-section-1 .p14-sec1-item.item-2 hr{
  width: 80%;
  border-color: #2E3A6E;
}
.p14-section-1 .p14-sec1-item.item-2 .item-title h4{
  font-size: 2.3vw;
  text-align: center;
}
/* -------------P14 section 2 -------------------- */
.p14-section-2 .p14-sec2-item .item-perc h4{
  font-size: 3vw;
  line-height: 3.6vw;
}
}
/* ============================================
-----------------Page-15 Styles--------------
============================================ */
@media (max-width:576px){
  /* ----------p13 section-1-------------- */


  .p15-content-con .p15-section-1 .p15-table th{
    font-size: 2vw;
  }
  .p15-content-con .p15-section-1 .p15-table td p{
    line-height: 1.5vw;
    font-size: 1.2vw;
  }
  .p15-content-con .p15-section-1 .p15-table td span{
    font-size: 1.5vw;
  }
  /* --------------------P15 section 2----------------- */
.p15-section-2 .p15-sec2-item .item-perc h4{
  font-size: 3vw;
  line-height: 5vw;
}
.p15-section-2 .p15-sec2-item .item-text p{
  font-size: 1.6vw;
  line-height: 2.4vw;
}
}
/* ============================================
-----------------Page-16 Styles--------------
============================================ */
@media (max-width: 500px) {
  .p16-wrapper {
    width: 100%;
    height: 100vh;
  }
  .p16-wrapper .p16-content-con {
    width: 100%;
    height: 100%;
  }
  .p16-content-con .p16-section-1 {
    height: 20%;
  }
  .p16-section-1 .p16-title h2 {
    font-size: 4vw;
    line-height: 4.7vw;
  }
  .p16-content-con .p16-section-2 {
    height: 80%;
  }
}
/* ============================================
-----------------Page-17 Styles--------------
============================================ */
@media (max-width:576px){
  /* ----------p17 section-1-------------- */
.p17-content-con .p17-section-1 .p17-title h2{
  padding: 4% 0 0;
  font-size: 6vw;
}
.p17-content-con .p17-section-1 .p17-sec1-item.item-1 .item-1-text {
  padding: 0;
}
.p17-content-con .p17-section-1 .p17-sec1-item.item-1 .item-1-text p{
  font-size: 1.5vw;
  line-height: 2vw;
}
.p17-content-con .p17-section-1 .p17-sec1-item.item-1 .item-1-text strong p{
  font-size: 2vw;
  line-height: 2vw;
}
.p17-section-1 .p17-sec1-item.item-1 .p17-sec1-item1-items .row-item .item-perc h4{
  font-size: 5vw;
  line-height: 6vw;
}
.p17-section-1 .p17-sec1-item.item-1 .p17-sec1-item1-items .row-item .item-text p{
  font-size: 1.7vw;
  line-height: 2vw;
}
/* ----------p17 section-1 item 2-------------- */
.p17-section-1 .p17-sec1-item.item-2 .p17-sec1-item2-row.row-1 .row-title h2{
  font-size: 4vw;
  line-height: 4.3vw;
}
.p17-section-1 .p17-sec1-item.item-2 .p17-sec1-item2-row.row-1 .row-text p{
  font-size: 1.8vw;
  line-height: 2.3vw;
}
.p17-section-1 .p17-sec1-item.item-2 .p17-sec1-item2-row .row-item .item-perc h4{
  font-size: 3vw;
}
.p17-section-1 .p17-sec1-item.item-2 .p17-sec1-item2-row .row-item .item-text p{
  font-size: 1.6vw;
  line-height: 2vw;
}
.p17-section-2 .p17-sec2-title h2{
  padding: 4% 0 2%;
  font-size: 5vw;
}
/* ----------p17 section-2-------------- */
.p17-section-2{
  padding: 6% 4%;
}
.p17-section-2 .p17-sec2-item.item-1 .row-item .color-box{
  padding: 1.5vw;
  margin-right: 5px;
}
.p17-section-2 .p17-sec2-item.item-1 .row-item .item-text p{
  font-size:  1.8vw;
}
.p17-section-2 .p17-sec2-item.item-3 .p17-sec2-item3-items .row-item .item-perc h4{
  font-size: 5vw;
  line-height: 6vw;
} 
.p17-section-2 .p17-sec2-item.item-3 .p17-sec2-item3-items .row-item .item-text p{
  font-size: 1.8vw;
  line-height: 2.1vw;
  margin-bottom: 2%;
} 
}
/* ============================================
-----------------Page-18 Styles--------------
============================================ */
@media (max-width:1020px){
  /* ------------Page 18 section 1------------- */
  .p18-sec1-item2-item-1 .item-profile{
    position: relative;
    bottom: 0;
    align-items: center;
    left: 20%;
    top: 60%;
  }
  .p18-section-1 .p18-sec1-item.item-2 .p18-sec1-item2-item-2{
    padding: 2% 2% 10%;
  }
  .p18-section-1 .p18-sec1-item.item-2 .p18-sec1-item2-item-2{
    margin-top: 3%;
  }
  .p18-sec1-item2-item-2 .item-profile{
    top: 40%;
  }
}
@media (max-width:992px){
  /* ------------Page 18 section 1------------- */
  .p18-sec1-item2-item-1 .item-profile{
    position: relative;
    bottom: 0;
    align-items: center;
    left: 20%;
    top: 90%;
  }
  .p18-section-1 .p18-sec1-item.item-2 .p18-sec1-item2-item-2{
    padding: 2% 2% 10%;
  }
  .p18-section-1 .p18-sec1-item.item-2 .p18-sec1-item2-item-2{
    margin-top: 3%;
  }
  .p18-sec1-item2-item-2 .item-profile{
    top: 60%;
  }
  /* -------------p18 Section 3----------- */
.p18-section-3{
  padding: 4% 0 0;
}
}
@media (max-width:576px){
  /* ------------Page 18 section 1------------- */
  .p18-section-1 .p18-sec1-item.item-1 .perc h4{
    font-size: 6vw;
  }
  .p18-section-1 .p18-sec1-item.item-1 .item-text p{
    font-size: 1.8vw;
    line-height: 2vw;
  }
  .p18-section-1 .p18-sec1-item.item-2 .p18-sec1-item2-item-1{
    padding: 2% 4% 10%;
  }
  .p18-section-1 .p18-sec1-item.item-2 .p18-sec1-item2-item-1 .item-text p{
    font-size: 1.1vw;
    line-height: 1.3vw;
  }
  .p18-sec1-item2-item-1 .item-profile{
    position: relative;
    bottom: 0;
    align-items: center;
    left: 15%;
    top: 30%;
  }
  .p18-section-1 .p18-sec1-item.item-2 .p18-sec1-item2-item-2{
    padding: 0.5% 2% 10%;
  }
  .p18-section-1 .p18-sec1-item.item-2 .p18-sec1-item2-item-2 .item-text p{
    font-size: 1.1vw;
    line-height: 1.3vw;
  }
  .p18-section-1 .p18-sec1-item.item-2 .p18-sec1-item2-item-2{
    margin-top: 3%;
  }
  .p18-sec1-item2-item-2 .item-profile{
    top: 20%;
  }

  /* ----------Page 18 Section 2---------- */
.p18-section-2 .p18-sec2-item .item-perc h4{
  font-size: 5vw;
  line-height: 6vw;
}
.p18-section-2 .p18-sec2-item .item-text p{
  font-size: 1.8vw;
  line-height: 2vw;
}

  /* -------------p18 Section 3----------- */
  .p18-section-3 .p18-sec3-table td p{
    font-size: 1.6vw;
    line-height: 2vw;
  }
  .p18-section-3 .p18-sec3-table .colm-3 p{
    font-size: 2vw;
    font-weight: 700;
  }
}
/* ============================================
-----------------Page-19 Styles--------------
============================================ */
@media (max-width: 576px){
  .p19-wrapper {
    width: 100%;
    height: auto;
  }
  .p19-wrapper .p19-content-con{
    width: 100%;
    height:100%;
    padding: 0;
  }
  /* ----------p19 section-1-------------- */
  .p19-content-con .p19-section-1{
    padding: 3%;
    background: #F6F6F7;
    color: #122867;
  }
  .p19-section-1 .row-item{
    align-items: center;
    padding: 3% 0;
  }
  .p19-section-1 .row-item .item-perc h4{
    font-size: 5vw;
  }
  .p19-section-1 .row-item .item-text p{
    font-size: 1.6vw;
    line-height: 2vw;
  }
  /* ----------p19 section-2-------------- */
  .p19-content-con .p19-section-2{
    padding: 2.5%;
    background: #B4B22F;
    color: #122867;
  }
  .p19-section-2 .p19-sec2-item{
    align-items: center;
  }
  .p19-section-2 .p19-sec2-item .item-text p{
    font-size: 1.6vw;
    line-height: 2vw;
  }
  /* ----------p19 section-3-------------- */
  .p19-section-3 .p19-sec3-row .row-item p{
    font-size: 1.6vw;
    line-height: 2vw;
  }
}

/* ================================================
-------------Page 20 Styles----------------------
================================================ */
@media (max-width: 768px) {
  .p20-content-con h2 {
    font-size: 7vw;
    line-height: 7.8vw;
  }
  .p20-content-con .main-logo {
    bottom: 5%;
    position: absolute;
    width: 30%;
  }
  .p20-content-con .main-logo img {
    width: 100%;
  }
  .p20-content-con .p20-text {
    position: absolute;
    bottom: 50%;
    left: 30%;
  }

  .p20-content-con .brand-box {
    width: 30vw;
    height: 60px;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px 0 0;
  }
  .p20-content-con .brand-box img {
    width: 70%;
  }
}
