/* ============================================
-----------------Page-1 Styles--------------
============================================ */
@media (max-width: 1080px) {
  .p1-content-con .main-logo {
    width: 100%;
  }
  .p1-content-con .main-logo img {
    width: 30%;
  }
  .p1-content-con .p1-text {
    margin-top: 8%;
  }
  .p1-content-con .p1-text h2 {
    color: #ffffff;
    font-size: 5vw;
  }
  .p1-content-con .brand-box {
    width: 25vw;
    height: 80px;
  }
}
@media (max-width: 992px) {
  .p1-content-con .main-logo {
    width: 100%;
  }
  .p1-content-con .main-logo img {
    width: 40%;
  }
  .p1-content-con .p1-text {
    margin-top: 8%;
  }
  .p1-content-con .p1-text h2 {
    color: #ffffff;
    font-size: 7vw;
  }
  .p1-content-con .brand-box {
    width: 25vw;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .page1-wrapper .p1-content-con {
    padding-top: 10%;
  }
  .p1-content-con .main-logo {
    width: 100%;
  }
  .p1-content-con .main-logo img {
    width: 40%;
  }
  .p1-content-con .p1-text {
    margin-top: 10%;
  }
  .p1-content-con .p1-text h2 {
    color: #ffffff;
    font-size: 8vw;
  }
  .p1-content-con .brand-box {
    width: 30vw;
    height: 60px;
  }
}
@media (max-width: 500px) {
  .page1-wrapper .p1-content-con {
    padding-top: 10%;
  }
  .p1-content-con .main-logo {
    width: 100%;
  }
  .p1-content-con .main-logo img {
    width: 70%;
  }
  .p1-content-con .p1-text {
    margin-top: 20%;
  }
  .p1-content-con .p1-text h2 {
    color: #ffffff;
    font-size: 12vw;
  }
  .p1-content-con .brand-box {
    width: 35vw;
    height: 40px;
  }
}

/* ============================================
-----------------Page-2 Styles--------------
============================================ */
@media (max-width: 520px) {
  .page2-wrapper .p2-content-con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .p2-content-con .p2-title-col {
    width: 100%;
    height: 40%;
  }
  .p2-content-con .p2-title-col h3 {
    font-size: 6vw;
    color: #fff;
  }
  .p2-content-con .p2-img-col {
    padding: 0;
    width: 100%;
    height: 60%;
  }
}

/* ============================================
-----------------Page-3 Styles--------------
============================================ */
@media (max-width: 768px) {
  .p3-row-1 .p3-row1-content {
    padding-right: 0;
  }
  .p3-row-1 .p3-row1-content .p3-row1-item2 span {
    width: 100%;
    font-size: 1.5vw;
    line-height: 2vw !important;
    font-weight: 600;
  }

  .p3-row2-items .item .perc span {
    width: 8vw;
    height: 8vw;
    font-size: 2.8vw;
  }

  .p3-content-con .p3-row-4 {
    width: 100%;
    margin: 1% 0;
    padding: 2% 5%;
  }
  .p3-row-4 .p3-row4-content {
    width: 90%;
    display: flex;
    padding: 0;
  }

  .p3-row4-content .p3-row4-items .item.item1 {
    border-right: 2px solid #fff;
  }

  .p3-row4-items .item .item-icon img {
    width: 60%;
  }
  .p3-row4-items .item.item2 .item-icon img {
    width: 50%;
  }
  .p3-row4-items .item .item-text span {
    width: 70%;
    text-align: left;
    font-size: 1.5vw;
  }
}
@media (max-width: 692px) {
  .p3-row-1 .p3-row1-content .p3-row1-item1 .perc {
    font-size: 4vw;
    line-height: 2.5vw;
  }
  .p3-row-1 .p3-row1-content .p3-row1-item1 span {
    font-size: 2.5vw;
  }
  .p3-row1-item2 {
    width: 100%;
    padding-right: 0;
  }
  .p3-row1-item2 .col-4 {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .p3-content-con .p3-row-1 {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .p3-row-1 .p3-row1-content {
    width: 100%;
    display: flex;
  }
  .p3-row-1 .p3-row1-content .p3-row1-item1 {
    width: 100%;
    color: #122867;
    border-right: none;
    border-bottom: 1px solid #122867;
    padding-bottom: 3%;
    display: flex;
  }

  .p3-row-1 .p3-row1-content .p3-row1-item1 .perc {
    font-size: 5vw;
    line-height: 4vw;
    font-weight: bold;
  }
  .p3-row-1 .p3-row1-content .p3-row1-item1 span {
    font-size: 3vw;
    font-weight: 600;
  }

  .p3-row-1 .p3-row1-content .p3-row1-item2 {
    width: 50%;
    display: flex;
    margin-left: 0;
    padding-left: 0;
    justify-content: center;
    align-items: flex-start;
  }
  .p3-row-1 .p3-row1-content .p3-row1-item2 .item {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .p3-row-1 .p3-row1-content .p3-row1-item2 .perc {
    font-size: 3vw;
    line-height: 2.5vw !important;
    font-weight: bold;
    margin-top: 5%;
  }
  .p3-row-1 .p3-row1-content .p3-row1-item2 span {
    width: 90%;
    font-size: 2.3vw;
    line-height: 2.8vw !important;
    font-weight: 600;
  }

  .p3-row2-items .item .perc span {
    width: 10vw;
    height: 10vw;
    font-size: 3vw;
  }

  .p3-row3-items .item {
    margin: 2% 0;
  }
  .p3-row3-items .item .perc span {
    width: 8vw;
    height: 8vw;
    font-size: 2vw;
  }
  .p3-row3-items .item .item-text span {
    font-size: 2.4vw;
    line-height: 3.5vw !important;
  }
}

@media (max-width: 475px) {
  .p3-content-con .p3-row-1 {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .p3-row-1 .p3-row1-content {
    width: 100%;
    display: flex;
  }

  .p3-row-1 .p3-row1-content .p3-row1-item1 .perc {
    font-size: 6vw;
    line-height: 5vw;
  }
  .p3-row-1 .p3-row1-content .p3-row1-item1 span {
    font-size: 4vw;
  }

  .p3-row-1 .p3-row1-content .p3-row1-item2 .perc {
    font-size: 5vw;
    line-height: 5vw !important;
    margin-top: 5%;
  }
  .p3-row-1 .p3-row1-content .p3-row1-item2 span {
    width: 90%;
    font-size: 3.5vw;
    line-height: 4vw !important;
  }

  .p3-row2-items .item .perc span {
    width: 12vw;
    height: 12vw;
    font-size: 3.8vw;
  }

  .p3-row3-items .item .perc span {
    width: 10vw;
    height: 10vw;
    font-size: 3vw;
  }
  .p3-row3-items .item .item-text span {
    font-size: 4vw;
    line-height: 4.5vw !important;
  }

  .p3-content-con .p3-row-4 {
    width: 100%;
    margin: 1% 0;
    padding: 2% 3%;
  }
  .p3-row-4 .p3-row4-content {
    width: 90%;
    display: flex;
    padding: 0;
  }

  .p3-row4-content .p3-row4-items .item.item1 {
    border-right: 2px solid #fff;
  }

  .p3-row4-items .item .item-icon img {
    width: 80%;
  }
  .p3-row4-items .item.item2 .item-icon img {
    width: 60%;
  }
  .p3-row4-items .item .item-text span {
    width: 70%;
    text-align: left;
    font-size: 3vw;
    line-height: 3vw !important;
  }
}
/* ============================================
-----------------Page-4 Styles--------------
============================================ */
@media (max-width: 1100px) {
  .page4-wrapper {
    width: 100%;
    height: auto;
  }
  .p4-sec1-item2 {
    height: 38vh;
  }
  .p4-sec1-item2 .sec1-item2-con {
    top: -10%;
    padding-top: 7%;
  }
  .blue-bg-0 {
    width: 50%;
    right: 6%;
    top: 3.5%;
  }
}

@media (max-width: 1080px) {
  .p4-sec1-item2 {
    height: 38vh;
  }
  .p4-sec1-item2 .sec1-item2-con {
    top: -10%;
    padding-top: 10%;
  }
  .blue-bg-0 {
    width: 48%;
    height: 15vh;
    right: 6%;
    top: 2%;
  }
}

@media (max-width: 768px) {
  .p4-sec1-item2 {
    height: 35vh;
  }
  .blue-bg-0 {
    width: 50%;
    right: 6%;
    top: 3%;
  }
  .p4-sec1-item2 .sec1-item2-con {
    top: -8%;
    padding-top: 7%;
  }
}
@media (max-width: 620px) {
  .p4-sec1-item2 {
    height: 35vh;
  }
  .blue-bg-0 {
    width: 50%;
    right: 6%;
    top: 5%;
  }
  .p4-sec1-item2 .sec1-item2-con {
    top: -8%;
    padding-top: 10%;
  }
}

@media (max-width: 500px) {
  .p4-content-con .p4-header h5 {
    font-size: 5vw;
    font-weight: bold;
  }

  .p4-section1 .p4-sec1-item1 .p4-sec1-items {
    height: 20vh;
    border: 1px dashed #122867;
    justify-content: flex-end;
  }
  .p4-sec1-item1 .p4-sec1-items .item-icon {
    width: 70px;
    height: auto;
    position: absolute;
    top: 50%;
    left: -28%;
    transform: translateY(-50%);
  }
  .p4-sec1-item1 .p4-sec1-items .item-icon img {
    width: 100%;
  }
  .p4-sec1-items .perc-items .perc-box .perc {
    font-size: 4vw;
    font-weight: bold;
    line-height: 4.5vw;
  }
  .p4-sec1-items .perc-items .perc-box span {
    font-size: 3vw;
    font-weight: 600;
    line-height: 2.5vw;
  }
  .p4-sec1-item2 {
    height: 35vh;
  }
  .blue-bg-0 {
    width: 50%;
    right: 8%;
    top: 2%;
  }
  .p4-sec1-item2 .sec1-item2-con {
    top: -8%;
    padding-top: 10%;
  }

  .p4-sec1-item2-items .item .item-perc span {
    width: 7vw;
    height: 7vw;
    background: #fff;
    border-radius: 50%;
    color: #122867;
    font-weight: 700;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p4-sec1-item2-items .item .item-icon {
    width: 100%;
    justify-content: center;
    padding-right: 0;
  }
  .p4-sec1-item2-items .item .item-icon img {
    width: 70%;
  }
  .p4-sec1-item2-items .item .item-text {
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 2vw;
  }

  .p4-section2 .p4-sec2-item1 {
    height: auto;
  }
  .p4-section2 .p4-sec2-item1 .item-title h3 {
    font-size: 5vw;
  }
  .p4-sec2-item1-items .row {
    width: 100%;
    margin: 1% 0;
    justify-content: flex-end;
  }
  .p4-sec2-item1-items .row-1,
  .p4-sec2-item1-items .row-2 {
    border-bottom: 1px solid #cfcfcf;
    padding: 0 0 10px;
  }
  .p4-sec2-item1-items .item .perc {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p4-sec2-item1-items .item .perc span {
    width: 7vw;
    height: 7vw;
    border: 1px solid #e05434;
    border-radius: 50%;
    font-weight: 600;
    font-size: 2vw;
  }
  .p4-sec2-item1-items .item span {
    font-size: 2vw;
    font-weight: 600;
    padding-left: 4px;
  }

  .p4-sec2-item2 {
    height: auto;
  }
  .p4-sec2-item2 .item-title h3 {
    font-size: 5vw;
  }
  .p4-sec2-item2-items {
    width: 100%;
    justify-content: center;
  }
  .p4-sec2-item2-items .row {
    width: 100%;
    margin: 1% 0;
    justify-content: flex-start;
  }
  .p4-sec2-item2-items .row-1,
  .p4-sec2-item2-items .row-2 {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
  }
  .p4-sec2-item2-items .item .perc {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p4-sec2-item2-items .item .perc span {
    width: 7vw;
    height: 7vw;
    border: 1px solid #122867;
    border-radius: 50%;
    font-weight: 600;
    font-size: 2vw;
  }
  .p4-sec2-item2-items .item span {
    font-size: 2vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
  }
}

/* ============================================
-----------------Page-5 Styles--------------
============================================ */
@media (max-width: 768px) {
  .p5-wrapper {
    width: 100%;
    height: auto;
    margin: 5px 0;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1), 0 -1px 10px rgba(0,0,0,0.1);
  }
  .p5-sec1-items .item-1 .row {
    padding: 5% 0;
  }
  .p5-sec1-items .item-1 .item .perc {
    font-size: 2.2vw;
    font-weight: 700;
    color: #122867;
    padding: 0;
  }
  .p5-sec1-items .item-1 .item span {
    font-size: 1.1vw;
    line-height: 1.3vw;
    font-weight: 600;
    color: #122867;
  }

  .p5-sec1-items .item-2 {
    padding: 5% 0;
    margin: 0;
  }

  .p5-sec1-items .item-2 .row {
    padding: 2% 0;
  }
  .p5-sec1-items .item-2 .row .item-icon {
    padding: 8px;
  }
  .p5-sec1-items .item-2 .row .perc {
    font-size: 2.2vw;
    font-weight: 700;
    padding: 0;
    justify-content: center;
  }
  .p5-sec1-items .item-2 .row .item-text {
    font-size: 1.1vw;
    font-weight: 600;
  }
  /* --------p5 Section 2--------- */
  .p5-wrapper .p5-content .p5-section2 {
    background: #fff;
    border-radius: 0 20px 20px 0;
    padding: 6% 2% 15%;
  }
  .p5-section2-con span p{
    font-size: 1.3vw;
    font-weight: 600;
    color: #122867;
    margin: 5vh 0;
}
.p5-sec2-items .item{
  width: 100%;
  height: 5vh;
  border-radius: 0 7px 7px 0;
}
.p5-sec2-items .item .perc{
  position: relative;
  height: 100% ;
  margin: 0;
  font-size: 1.8vw;
  font-weight: 700;
}
.p5-sec2-items .item .item-text{
  height: 100%;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.p5-sec2-items .item .item-text p {
  width: 100%;
  font-size: 1.2vw;
}

  /* -----------p5 section 3 row 1 styles------- */
  .p5-wrapper .p5-content .p5-section3 {
    padding: 4% 3% 6%;
  }

  .p5-sec3-row1 .item-1 .box{
    padding: 0 5px;
    height: 2vw;
    background: #00aeef;
}
.p5-sec3-row1 .item-1 .item-text{
    color:  #00aeef;
    font-size: 1.2vw;
    font-weight: bold;
}
.p5-sec3-row1 .item-2 .box{
  padding: 0 5px;
    height: 2vw;
    background: #122867;
}
.p5-sec3-row1 .item-2 .item-text{
    color: #122867;
    font-size: 1vw;
    font-weight: bold;
}

/* -----------p5 section 3 row 2 styles------- */

.p5-section3 .p5-section3-con .p5-sec3-row2 {
  padding: 2% 0;
  border-bottom: 1px solid #122867;
  color: #2a79be;
}
.p5-sec3-row2 .item span h3 {
  font-size: 2vw;
  font-weight: bold;
  margin: 2px 0;
}
.p5-sec3-row2 .item span p {
  font-size: 1.3vw;
  line-height: 1.4vw;
  margin: 5px 0;
}
.p5-sec3-row2 .item.item-1 {
  border-right: 1px solid #122867;
}

/* -----------p5 section 3 row 3 styles------- */

.p5-sec3-row3 span p {
  font-size: 1.5vw;
  font-weight: bold;
}
.p5-sec3-row3 .item-box {
  height: auto;
  border-top: 1px solid #122867;
  position: relative;
  padding-top: 15% !important;
}
.p5-sec3-row3 .item-box .item-1 {
  width: 45%;
  padding: 3% 3% 0;
  border: 1px solid #122867;
  border-radius: 5px
}
.p5-sec3-row3 .item-box .item-1 h3 {
  font-size: 1.3vw;
  font-weight:800;
}

.p5-sec3-row3 .item-box .item-2 {

  padding: 3%;

  border: 1px solid #122867;
  border-radius: 5px;
}
.p5-sec3-row3 .item-box .item-2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
}
.p5-sec3-row3 .item-box .item-text{
  padding-left: 0;
}
.p5-sec3-row3 .item-box .item-text p {
  font-size: 1.3vw;
  line-height: 1.4vw;
  font-weight: bold;
}

/* -----------p5 section 3 row 4 styles------- */

.p5-section3 .p5-section3-con .p5-sec3-row4 {
  padding: 3%;
  color: #fff;
  background: #122867;
}
.p5-sec3-row4 p {
  font-size: 1.2vw;
  font-weight: 600;
  margin: 0 0 4px;
  padding: 0;
}
.p5-sec3-row4 h3 {
  font-size: 2vw;
}

/* -----------p5 section 3 row 5 styles------- */

.p5-section3 .p5-section3-con .p5-sec3-row5 {
  padding: 5% 1% ;
  color: #122867;
}
.p5-sec3-row5 .item-1 {
  padding: 3px;
  border-right: 1px solid #122867;
}
.p5-sec3-row5 .item-2 {
  padding: 3px;
}
.p5-sec3-row5 p {
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 1.2vw;
  margin: 0 0 5px;
  padding: 0;
}
.p5-sec3-row5 h3 {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0;
}
.p5-sec3-row5 h3 span {
  font-size: 1vw;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* -----------p5 section 3 row 6 styles------- */

.p5-section3 .p5-section3-con .p5-sec3-row6 {
  padding: 2.5%;
  color: #122867;
  border-top: 1px solid #122867;
  border-bottom: 1px solid #122867;
}
.p5-sec3-row6 p {
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 1.4vw;
  margin: 0;
  padding: 0;
}

}
/* ==================================
---------Page 6 Styles------------
================================== */
@media (max-width: 768px){
  /* ---------item 1 box 1 styles-------- */
  .p6-item.item-1 .box-1 .perc{
    font-size: 3vw;
}
  .p6-item.item-1 .box-1 .item-text p{
    font-size: 1.2vw;
    line-height: 1.8vw;
}
/* ---------box 2 styles-------- */
.p6-item.item-1 .box-2 .perc{
  font-size: 3vw;
  font-weight: 700;
}
.p6-item.item-1 .box-2 .item-text p{
  font-size: 1.4vw;
  line-height: 1.8vw;

}
.p6-item.item-1 .box-2 .item-text{
  font-size: 1.4vw;
  line-height: 1.4vw;
}

/* ---------box 3 styles-------- */
 
.p6-item.item-1 .box-3 .perc{
  font-size: 3vw;
  font-weight: 700;
}
.p6-item.item-1 .box-3 .item-text{
  font-size: 1.2vw;
  line-height: 1.8vw;
  font-weight: 600;
}



/* ------------item 2 styles-------- */

.p6-items-con .p6-item.item-2{
  padding-left: 5px !important;
}
.p6-items-con .p6-item.item-2 .item-box{
  margin: 6px 0;
}
/* ---------box 1 styles-------- */

.p6-items-con .p6-item.item-2 .box-1{
  padding: 4% 6%;
}
.p6-item.item-2 .box-1 .box-item .perc{
  font-size: 3vw;
  font-weight: 700;
}
.p6-item.item-2 .box-1 .box-item .item-text p{
  font-size: 1.1vw;
  line-height: 1.6vw;
  font-weight: 500;
}

/* ---------box 2 styles-------- */

.p6-items-con .p6-item.item-2 .box-2{
  padding: 4% 5%;
}
.p6-item.item-2 .box-2 .perc{
  font-size: 3vw;
  font-weight: 700;
}
.p6-item.item-2 .box-2 .item-text p{
  font-size: 1.1vw;
  line-height: 1.6vw;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.p6-item.item-2 .box-2 .box-icon img{
width: 50%;
}


/* ------------item 3 styles-------- */

.p6-items-con .p6-item.item-3 .row-1{
  flex-wrap: nowrap;
  padding: 0;
  margin:  0;
}
.p6-items-con .p6-item.item-3 .row-1 .item-box{
  padding: 0;
  margin: 0 8px 0 0;
}

/* ---------box 1 styles-------- */

.p6-item.item-3 .box-1 .box-item .perc{
  font-size: 3vw;
  font-weight: 700;
}

.p6-item.item-3 .box-1 .box-item .item-text p{
  font-size: 1.1vw;
  line-height: 1.8vw;
  font-weight: 500;
  margin: 0;
}
/* --------------item 3 box 2----------- */

.p6-items-con .p6-item.item-3 .box-2{
  background-color: #00aeef;
  color: #fff;
  border-radius: 10px;
}

.p6-item.item-3 .box-2 .box-item .perc{
  font-size: 3vw;
  font-weight: 700;
}
.p6-item.item-3 .box-2 .box-item .item-text p{
  font-size: 1.1vw;
  line-height: 1.8vw;
  font-weight: 500;
  margin: 0;
}

/* --------------item 3 box 3----------- */

.p6-items-con .p6-item.item-3 .box-3{
  background-color: #5e5f5f;
  color: #fff;
  border-radius: 10px;
}

.p6-item.item-3 .box-3 .box-item .perc{
  font-size: 3vw;
  font-weight: 700;
}
.p6-item.item-3 .box-3 .box-item .item-text p{
  font-size: 1.1vw;
  line-height: 1.8vw;
  font-weight: 500;
  margin: 0;
}



/* ------------item 3 row 2 styles-------- */

.p6-items-con .p6-item.item-3 .row-2 .row-items{
  margin: 6px 0;
  background-color: #5e5f5f;
  color: #fff;
  border-radius: 10px;
  padding: 2% 5%;
  margin-left: 0;
}
.p6-items-con .p6-item.item-3 .row-items .item-box{
  color: #fff;
  border-radius: 10px;
  padding: 2% 4%;
}
.p6-items-con .p6-item.item-3 .row-items .item-box .box-icon{
  width: 100%;
  margin-bottom: 10px !important;
}
.p6-item.item-3 .row-2 .row-items .item-box .perc{
  font-size: 3vw;
  font-weight: 700;
}
.p6-item.item-3 .row-2 .row-items .item-box .item-text p{
  font-size: 1.1vw;
  line-height: 1.8vw;
  font-weight: 500;
}
.p6-item.item-3 .row-2 .item-logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.p6-item.item-3 .row-2 .item-logo img{
  width: 30%;
}

}

@media (max-width :500px){
  p{
    font-size: 1.6vw !important;
    line-height: 2vw !important;
    margin-bottom: 5px !important;
  }
  .p6-items-con .row{
    padding-right: 0 !important;
}
.p6-item.item-1 .box-2 .item-text{
  font-size: 1.6vw !important;
  line-height: 2vw  !important;
  margin-left: 5px !important;
}
}

/* ================================================
-------------Page 7 Styles----------------------
================================================ */
@media (max-width:500px){

  .p7-wrapper .p7-content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .p7-content .p7-section1{
    padding:0;
    height: 40vh;
      border-radius: 0 0 30px 30px;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  .p7-content .p7-section1 h3{
      font-size: 4.5vw;
      line-height: 6.6vw;
      margin: 0;
      padding: 0;
  }

  .p7-content .p7-section2{
    height: 50vh;
      position: relative;
      z-index: 1;
      padding: 2% 3%  !important;
      background:#fff;
  }
  .p7-content .p7-section2 .row{
      font-size: 2vw;
      line-height: 2.8vw;
  }
}

/* ================================================
-------------Page 8 Styles----------------------
================================================ */
@media (max-width: 768px){
  .p8-content-con .main-logo {
    bottom: 5%;
    position: absolute;
     width: 30%;
  }
  .p8-content-con .main-logo img {
    width: 100%;
  }
  .p8-content-con .p8-text {
    position: absolute;
    bottom: 50%;
    left: 30%;
  }
  .p8-content-con .p8-text h2 {
  color: #ffffff;
  font-size: 7vw;
  }
  .p8-content-con .brand-box {
  width: 30vw;
  height: 60px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0 ;
  border-radius: 10px 0 0;
  }
  .p8-content-con .brand-box img{
    width: 70%;
  }
  
}
